{% extends 'layout' %}

{% block main %}

    {% if entry.backgroundImage|length %}
        {% set backgroundImage = entry.backgroundImage.one() %}
        <header class="landingHeader" style="background-image: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(40,40,40,0) 50%), url('/images/dots.png'), url('{{ backgroundImage.url }}');">
            <div class="headerContainer">
                <h1 class="headerTitle">
                    <div class="verticalBar"></div>
                    {{ entry.title }}
                </h1>
                <div class="breadcrumbs__container breadcrumbs__container--header">
                    {% include '_parts/breadcrumbs' %}
                </div>
            </div>
        </header>
    {% endif %}

    <div class="envLanding-container">
        <div class="envLanding__subheader">
            <h2 class="subheading subheading--noPaddingTop">{{ entry.heading1 }}</h2>
            <p class="introText">{{ entry.intro1 }}</p>
        </div>
    </div>

    <div>
        {% set blocks = entry.theContent.all() %}
        {% include '_parts/matrix.twig' %}
    </div>

    {% set pricingTiles = entry.pricingTile.all() %}
    {% if pricingTiles | length %}
        <div class="envServices__container">
            <div class="envServices__flex">
            {% for tile in pricingTiles %}
                <div class="envServices__itemWrapper">
                    <div class="envServices__item {{ tile.tileStyle }}">
                        <h2 class="envServices__heading">{{ tile.heading1 }}</h2>
                        {% set contentBlocks = tile.pricingContent.all() %}
                        {% if contentBlocks | length %}
                            {% for block in contentBlocks %}
                                {% switch block.type.handle %}
                                    {% case 'centeredText' %}
                                        <div class="envServices__centerText">{{ block.centeredText }}</div>
                                    {% case 'wysiwyg' %}
                                        <div class="envServices__wysiwyg">
                                            {{ block.wysiwyg }}
                                        </div>
                                    {% case 'figureText' %}
                                        <div class="envServices__figureText"><span>{{ block.figureText | raw }}</span></div>
                                    {% case 'divider' %}
                                        <div class="envServices__divider"></div>
                                {% endswitch %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if entry.intro2 | length %}
        <div class="envServices__centerContainer">
        {{ entry.intro2 }}
        {% if entry.buttons | length %}
            <div class="envServices__buttonGroup">
                {% set buttons = entry.buttons.all() %}
                {% for button in buttons %}
                <a class="button button--internalLink" href="{{ button.buttonUrl }}">{{ button.buttonText }}</a>
                {% endfor %}
            </div>
        {% endif %}
        </div>
    {% endif %}
{% endblock %}