{% extends 'layout' %}

{% block main %}

    {% if entry.backgroundImage|length %}
    {% set backgroundImage = entry.backgroundImage.one() %}
        <header class="landingHeader" style="background-image: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(40,40,40,0) 50%), url('/images/dots.png'), url('{{ backgroundImage.url }}');">
            <div class="headerContainer">
                <h1 class="headerTitle">
                <div class="verticalBar"></div>
                    {{ entry.title }}
                </h1>
            </div>
        </header>
    {% endif %}

    <div class="member">
        <div class="member__container">
            <div class="member__intro">
                {% if entry.membershipHeading | length %}
                <h2 class="member__heading">{{ entry.membershipHeading }}</h2>
                {% endif %}
                {% if entry.membershipIntro | length %}
                    {{ entry.membershipIntro }}
                {% endif %}
                {% if entry.buttons | length %}
                    <div class="member__buttonGroup">
                        {% set buttons = entry.buttons.all() %}
                        {% for button in buttons %}
                            <a class="button button--internalLink" href="{{ button.buttonUrl }}">{{ button.buttonText }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="member__logos">
                <h2>Our Members</h2>

                {% if entry.featuredAssociateMemberships|length %}
                    <ul class="member__logosList">
                        {% for membership in entry.featuredAssociateMemberships.all() %}
                            <li>
                                {% set membershipImage = membership.image.one() %}
                                {% if membershipImage %}
                                    {% set showLink = true %}
                                    {% if membership.linkAction == 'doNothing'%}
                                        {%  set showLink = false %}
                                    {% endif %}
                                    {% if showLink and (membership.linkAction == 'openArticle')%}<a href="{{ membership.url }}">{% endif %}
                                    {% if showLink and (membership.linkAction == 'openWebsite')%}<a href="{{ membership.companyWebsiteUrl }}" target="_blank">{% endif %}
                                        <img class="membershipForm__logo" src="{{ membershipImage.url }}" alt="{{ membership.title }}" width="500" >
                                    {% if showLink %}</a>{% endif %}
                                {% else %}
                                    <a href="{{ membership.url }}">{{ membership.title }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No associated memberships.</p>
                {% endif %}

{#
                {% if entry.image | length %}
                {% set images = entry.image.all() %}
                <ul class="member__logosList">
                    {% for image in images %}
                    <li>
                        <img class="membershipForm__logo" src="{{ image.url }}" alt="">
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}

                {% if entry.fancyText %}
                    <div class="member__textOnly">
                    {{ entry.fancyText }}
                    </div>
                {% endif %}
#}
            </div>
        </div>
    </div>

    {% include '_parts/memberIconTiles.twig' %}

    <div class="membershipForm__container">
        <div class="membershipForm__formContainer">
            <div id="apply">
                <h2>Apply to Become an Associate Member</h2>
                <p>All fields marked with * are required.</p>
            </div>
            {{ craft.freeform.form("membershipApplicationForm", {
                labelClass: "form-label",
                inputClass: "form-control",
                instructionsBelowField: true,
            }).render() }}
        </div>
    </div>

{% endblock %}