{% extends 'layout' %}

{% block main %}

    {% if entry.backgroundImage|length %}
        {% set backgroundImage = entry.backgroundImage.one() %}
        <header class="landingHeader" style="background-image: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(40,40,40,0) 50%), url('/images/dots.png'), url('{{ backgroundImage.url }}');">
            <div class="headerContainer">
                <h1 class="headerTitle">
                    <div class="verticalBar"></div>
                    {{ entry.title }}
                </h1>
                <div class="breadcrumbs__container breadcrumbs__container--header">
                    {% include '_parts/breadcrumbs' %}
                </div>
            </div>
        </header>
    {% endif %}

    <div class="container">
        {% set blocks = entry.peopleSection.all() %}
        {% if blocks is defined and blocks|length %}
            {% for block in blocks %}
                {% switch block.type.handle %}
                    {% case 'wysiwyg' %}
                        <div class="article__container">
                            <div class="wysiwyg">
                                {{ block.wysiwyg }}
                            </div>
                        </div>
                    {% case 'peopleTiles' %}
                        <div class="miniTiles miniTiles--people">
                            {% if block.peopleTile|length %}
                                {% set peopleBlocks = block.peopleTile.all() %}
                                {% if peopleBlocks|length %}
                                    {% for peopleBlock in peopleBlocks %}
                                        {% set image = peopleBlock.bioEntry.one().image.one() %}
                                        <div class="miniTiles__background">
                                            {% if peopleBlock.lightswitch %}
                                            <a href="{{ peopleBlock.bioEntry.one().url }}">
                                            {% else %}
                                            <div>
                                            {% endif %}
                                                <div class="miniTile miniTile--people" style="background-image: linear-gradient(180deg, #00000000 0%, #282828bb 80%, #282828bb 100%), url('{{ image | length ? image.getUrl('squareImage') : "/images/default-bio-image.png" }}');">
                                                    <div class="miniTile__nameContainer">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="107.5" viewBox="0 0 10 107.5">
                                                            <line id="Line_173" data-name="Line 173" y2="97.5" transform="translate(5 5)" fill="none" stroke="#e0b167" stroke-linecap="round" stroke-miterlimit="10" stroke-width="10"/>
                                                        </svg>
                                                        <p class="miniTile__name">{{ peopleBlock.bioEntry.one().title }}</p>
                                                    </div>
                                                    <p class="miniTile__position">{{ peopleBlock.bioEntry.one().heading1 }}</p>
                                                    {% if peopleBlock.lightswitch %}
                                                    <p class="miniTile__bioButton button button--internalLink" >Read Bio</p>
                                                    {% endif %}
                                                </div>
                                            {% if peopleBlock.lightswitch %}
                                            </a>
                                            {% else %}
                                            </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </div>
                    {% case 'threeColumnBlock' %}
                        {% set items = block.threeColumnItems.all() %}
                        <div class="threeCol">
                        {% for item in items %}
                            <div class="threeCol__item">
                            {{ item.columnItem }}
                            </div>
                        {% endfor %}
                        </div>
                {% endswitch %}
            {% endfor %}
        {% endif %}
    </div>

    {#<div class="container">
        <div class="miniTiles miniTiles--people">
            {% if entry.peopleTile|length %}
                {% set blocks = entry.peopleTile.all() %}
                {% if blocks|length %}
                    {% for block in blocks %}
                        {% set image = block.backgroundImage.one() %}
                        {% if image %}
                            <div class="miniTiles__background">
                                <a href="{{ block.buttonUrl }}">
                                    <div class="miniTile miniTile--people" style="background-image: linear-gradient(180deg, #00000000 0%, #282828bb 80%, #282828bb 100%), url('{{ image.getUrl('squareImage') }}');">
                                        <div class="miniTile__nameContainer">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="107.5" viewBox="0 0 10 107.5">
                                                <line id="Line_173" data-name="Line 173" y2="97.5" transform="translate(5 5)" fill="none" stroke="#e0b167" stroke-linecap="round" stroke-miterlimit="10" stroke-width="10"/>
                                            </svg>
                                            <p class="miniTile__name">{{ block.personName }}</p>
                                        </div>
                                        <p class="miniTile__position">{{ block.position }}</p>
                                        <p class="miniTile__bioButton button button--internalLink" >{{ block.buttonText }}</p>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>#}

{% endblock %}