{% extends 'layout' %}

{% block main %}

    {% if entry.backgroundImage|length %}
    {% set backgroundImage = entry.backgroundImage.one() %}
    <header class="landingHeader" style="background-image: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(40,40,40,0) 50%), url('/images/dots.png'), url('{{ backgroundImage.url }}');">
        <div class="headerContainer">
            <h1 class="headerTitle">
                <div class="verticalBar"></div>
                {{ entry.title }}
            </h1>
        </div>
    </header>
    {% endif %}

    <div class="theContent">
        {% set blocks = entry.theContent.all() %}
        {% include '_parts/matrix.twig' %}
    </div>

    <div class="envLanding-container">
        <h2 class="subheading">{{ entry.heading1 }}</h2>
        <p class="introText">{{ entry.intro1 }}</p>

        <h3 class="sectionHeading">{{ entry.heading2 }}</h3>
        
        <div class="miniTiles miniTiles--square">
            {% if entry.squareMiniTile|length %}
            {% set blocks = entry.squareMiniTile.all() %}
                {% if blocks|length %}
                {% for block in blocks %}
                {% set image = block.backgroundImage.one() %}
                {% if image %}
                <div class="miniTiles__background">
                    <a target="_blank" href="{{ block.linkUrl }}">
                        <div class="miniTile miniTile--square" style="background: url('{{ image.url }}');background-size: cover;background-repeat: no-repeat;background-position: bottom;">
                            {% if block.date | length %}
                            <p class="miniTile__date">{{ block.date }}</p>
                            {% endif %}
                            <div>
                                <h3 class="miniTile__heading">{{ block.heading }}</h3>
                                <p class="button button--internalLink button--clear">{{ block.linkText }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="envLanding-container">

        <h3 class="sectionHeading">{{ entry.heading3 }}</h3>
        
        <div class="miniTiles miniTiles--square">
            {% if entry.squareMiniTile|length %}
            {% set blocks = entry.squareMiniTileVideo.all() %}
                {% if blocks|length %}
                {% for block in blocks %}
                {% set image = block.backgroundImage.one() %}
                {% if image %}
                <div class="miniTiles__background">
                    <a href="{{ block.linkUrl }}">
                        <div class="miniTile miniTile--square" style="background: url('{{ image.url }}');background-size: cover;background-repeat: no-repeat;background-position: bottom;">
                            {% if block.date | length %}
                            <p class="miniTile__date">{{ block.date }}</p>
                            {% endif %}
                            <div>
                                <h3 class="miniTile__heading">{{ block.heading }}</h3>
                                <p class="button button--internalLink button--clear">{{ block.linkText }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}