{% extends 'layout' %}

{% block main %} 

    {% if entry.backgroundImage|length %}
    {% set backgroundImage = entry.backgroundImage.one() %}
    <header class="landingHeader landingHeader--topAlign" style="background-image: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(40,40,40,0) 50%), url('/images/dots.png'), url('{{ backgroundImage.url }}');">
        <div class="headerContainer">
            <h1 class="headerTitle">
                <div class="verticalBar"></div>
                {{ entry.title }}
            </h1>
        <div class="breadcrumbs__container breadcrumbs__container--header">
            {% include '_parts/breadcrumbs' %}
        </div>
        </div>
    </header>
    {% endif %}

    <div class="container">
        <div class="miniTiles miniTiles--people">
            {% if entry.peopleTile|length %}
            {% set blocks = entry.peopleTile.all() %}
                {% if blocks|length %}
                {% for block in blocks %}
                {% set image = block.bioEntry.one().image.one() %}
                <div class="miniTiles__background">
                    <a href="{{ block.bioEntry.one().url }}">
                        <div class="miniTile miniTile--people" style="background-image: linear-gradient(180deg, #00000000 0%, #282828bb 80%, #282828bb 100%), url('{{ image | length ? image.getUrl('squareImage') : "/images/default-bio-image.png" }}');">
                            <div class="miniTile__nameContainer">
                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="107.5" viewBox="0 0 10 107.5">
                                    <line id="Line_173" data-name="Line 173" y2="97.5" transform="translate(5 5)" fill="none" stroke="#e0b167" stroke-linecap="round" stroke-miterlimit="10" stroke-width="10"/>
                                  </svg>
                                  <p class="miniTile__name">{{ block.bioEntry.one().title }}</p>
                            </div>
                            <p class="miniTile__position">{{ block.bioEntry.one().heading1 }}</p>
                            <p class="miniTile__bioButton button button--internalLink" >Read Bio</p>
                        </div>
                    </a>
                </div>
                {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}