{% extends 'layout' %}

{% block main %}

<div class="mainNavSpacer"></div>

<div class="container">
    <h1 class="researchDetails__heading">{{ entry.title }}</h1>
    <div class="researchDetails">

        <div class="bodyContent">
            
            <h2 class="bodyContent__subheading">{{ entry.heading1 }}</h2>
            <div>{{ entry.wysiwyg }}</div>
          

            {% set blocks = entry.theContent.all() %}
            {% include '_parts/matrix.twig' %}
        </div>
        <div class="sidebarContent">
            {% if entry.buttons|length %}
            <h3>{{ entry.heading2 }}</h3>
    
            <div>
                {% set buttons = entry.buttons.all() %}
                {% for button in buttons %}
                    <p>
                        <a class="button button--{{ button.buttonType.value }}" href="{{ button.buttonUrl }}"> {{ button.buttonText }}</a>
                    </p>
                {% endfor %}
            </div>
            {% endif %}

            {% if entry.relatedEntriesTile|length %}
            <h3>Related articles</h3>
    
            <div class="miniTiles miniTiles--square miniTiles--relatedEntries">
                {% set blocks = entry.relatedEntriesTile.all() %}
                    {% if blocks|length %}
                    {% for block in blocks %}
                    {% set image = block.backgroundImage.one() %}
                    {% set related = block.relatedEntriesEntry.one() %}
                    {% if image %}
                    <div class="miniTiles__background">
                        <a target="_blank" href="{{ related.getURL }}">
                            <div class="miniTile miniTile--square miniTile--relatedEntries" style="background-image:linear-gradient(180deg, #28282850 0%, #28282850 53%, #28282850 100%), url('{{ image.url }}');background-size: cover;background-repeat: no-repeat;background-position: bottom;">
                                <h3 class="miniTile__heading">{{ block.relatedEntryHeading }}</h3>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
            </div>
            {% endif %}
        </div>

    </div>

</div>



{% endblock %}