{% extends 'layout' %}

{% block main %}

    {% if entry.backgroundImage|length %}
    {% set backgroundImage = entry.backgroundImage.one() %}
    <header class="landingHeader" style="background-image: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(40,40,40,0) 50%), url('/images/dots.png'), url('{{ backgroundImage.url }}');">
        <div class="headerContainer">
            <h1 class="headerTitle">
                <div class="verticalBar"></div>
                {{ entry.title }}
            </h1>
            <div class="breadcrumbs__container breadcrumbs__container--header">
                {% include '_parts/breadcrumbs' %}
            </div>
        </div>
    </header>
    {% endif %}

    
    <div class="envLanding-container">
        <div class="envLanding__subheader">
            <h2 class="subheading subheading--noPaddingTop">{{ entry.heading1 }}</h2>
            <p class="introText">{{ entry.intro1 }}</p>
        </div>
    </div>
    
        
    <div>
        {% set blocks = entry.theContent.all() %}
        {% include '_parts/matrix.twig' %}
    </div>

    {% if entry.squareMiniTile|length %}
        <div class="envLanding-container">
            <h3 class="sectionHeading">{{ entry.intro2 }}</h3>

            <div class="miniTiles miniTiles--square">
                {% set blocks = entry.squareMiniTileVideo2.all() %}
                {% if blocks|length %}
                    {% for block in blocks %}
                        {% set image = block.backgroundImage.one() %}
                        {% if image %}
                            <div class="miniTiles__background">
                                <a href="{{ block.linkUrl }}">
                                    <div class="miniTile miniTile--square" style="background-image:linear-gradient(180deg, #28282850 0%, #28282850 53%, #28282850 100%), url('{{ image.url }}');background-size: cover;background-repeat: no-repeat;background-position: bottom;">
                                        {% if block.date | length %}
                                            <p class="miniTile__date">{{ block.date }}</p>
                                        {% endif %}
                                        <div>
                                            <h3 class="miniTile__heading">{{ block.heading }}</h3>
                                            <p class="button button--internalLink">{{ block.linkText }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endif %}

    
    {% if entry.squareMiniTile|length %}
    <div class="envLanding-container">
        <h3 class="sectionHeading">{{ entry.heading2 }}</h3>
        <div class="miniTiles miniTiles--square">
            {% set blocks = entry.squareMiniTile.all() %}
                {% if blocks|length %}
                {% for block in blocks %}
                {% set image = block.backgroundImage.one() %}
                {% if image %}
                <div class="miniTiles__background">
                    <a target="_blank" href="{{ block.linkUrl }}">
                        <div class="miniTile miniTile--square" style="background-image:linear-gradient(180deg, #28282850 0%, #28282850 53%, #28282850 100%), url('{{ image.url }}');background-size: cover;background-repeat: no-repeat;background-position: bottom;">
                            {% if block.date | length %}
                            <p class="miniTile__date">{{ block.date }}</p>
                            {% endif %}
                            <div>
                                <h3 class="miniTile__heading">{{ block.heading }}</h3>
                                <p class="button button--internalLink">{{ block.linkText }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endif %}
    

        {% if entry.squareMiniTile|length %}
    <div class="envLanding-container">
        <h3 class="sectionHeading">{{ entry.heading3 }}</h3>
        
        <div class="miniTiles miniTiles--square">
            {% set blocks = entry.squareMiniTileVideo.all() %}
                {% if blocks|length %}
                {% for block in blocks %}
                {% set image = block.backgroundImage.one() %}
                {% if image %}
                <div class="miniTiles__background">
                    <a href="{{ block.linkUrl }}">
                        <div class="miniTile miniTile--square" style="background-image:linear-gradient(180deg, #28282850 0%, #28282850 53%, #28282850 100%), url('{{ image.url }}');background-size: cover;background-repeat: no-repeat;background-position: bottom;">
                            {% if block.date | length %}
                            <p class="miniTile__date">{{ block.date }}</p>
                            {% endif %}
                            <div>
                                <h3 class="miniTile__heading">{{ block.heading }}</h3>
                                <p class="button button--internalLink">{{ block.linkText }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endif %}

    {% if entry.quoteSection | length %}
        <div class="carousel">
            <div class="js-carousel" data-type="default">
                {% set carouselItems = entry.quoteSection.all() %}
                {% include '_parts/carousel' %}
            </div>
        </div>
    {% endif %}

{% endblock %}