{% extends 'layout' %}

{% block main %}

    {% if entry.backgroundImage|length %}
    {% set backgroundImage = entry.backgroundImage.one() %}
    <div class="background" style="background-color: #53777A">
        <header class="landingHeader landingHeader--noMarginBottom" style="background-image: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(40,40,40,0) 50%), url('/images/dots.png'), url('{{ backgroundImage.url }}');">
            <div class="headerContainer">
                <h1 class="headerTitle">
                <div class="verticalBar"></div>
                    {{ entry.title }}
                </h1>
            </div>
        </header>
    </div>
    {% endif %}

    <div class="newsletter-section newsletter-section--landing">
        <div class="newsletter-section__container">
            {% if entry.newsletterTile|length %}
                {% set blocks = entry.newsletterTile.all() %}
                    {% if blocks|length %}
                        {% for block in blocks %}
                        {% set image = block.newsletterImage.one() %}
                        {% set download = block.downloadableItem.one() %}
                        <div class="newsletter-tile__background">
                            <a class="newsletter-tile newsletter-tile--landing" target="_blank" rel="noopener" href="{{ download.url }}">
                                <img class="newsletter-tile__image" src="{{ image.url }}" alt="">
                                <div class="newsletter-tile__content">
                                    <p class="newsletter-tile__date newsletter-tile__date--landing" >{{ block.newsletterDate }}</p>
                                    <div class="newsletter-tile__heading">{{ block.newsletterHeading }}</div>
                                    <p class="newsletter-tile__text" >{{ block.newsletterText }}</p>
                                    <div>
                                        <p class="button button--internalLink">{{ block.buttonText }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% set newsletters = craft.categories().group('newsletters') %}
    {% set categories = newsletters.all() %}
    <div class="filterNav">
        <div class="filterNav__listContainer">
            <ul class="filterNav__list">
                {% nav category in categories %}
                    <li class="filterNav__listItem8">
                        <button data-filter="{{ category }}" class="category filter filterNav__listItem">{{ category.title }}</button>
                    </li>
                {% endnav %}
            </ul>
        </div>
    </div>

    <div class="miniTiles miniTiles--news projects">
        {% if entry.newsletterIssueTile|length %}
        {% set blocks = entry.newsletterIssueTile.all() %}
            {% if blocks|length %}
            {% for block in blocks %}
                {% set image = block.backgroundImage.one() %}
                {% set download = block.itemToDownload.one() %}
                    {% if image %}
                    {% set category = block.category.one() %}
                    <a href="{{ download.url }}" target="_blank" rel="noopener">
                        {% if block.date | length %}
                        <div class="miniTile__date-container project" data-filter="{{ category }}">
                            <p class="miniTile__date">{{ block.date }}</p>
                        </div>
                        {% endif %}
                        <div class="miniTiles__background project" data-filter="{{ category }}">
                            <div class="miniTile miniTile--news" data-filter="{{ category }}" style="background: url('{{ image.url }}'); background-size: cover;">
                                <div class="miniTiles__hoverOverlay">
                                </div>
                                <p class="button button--downloadLink newsletterButton">Download</p>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}
            {% endif %}
        {% endif %}
    </div>

    <div class="news__text">
        <p>If you’d like to view older newsletters, please email <a href="mailto:info@idahodairymens.org">info@idahodairymens.org</a></p>
    </div>

<style>
    .hide { 
        animation: hide .5s ease 0s 1 normal forwards;
        transform-origin: center;
    }

    .show { 
        animation: show .5s ease 0s 1 normal;    
        transform-origin: center;
    }

</style>



{% endblock %}