{% extends 'layout' %}

{% block main %}

    {% if entry.backgroundImage|length %}
    {% set backgroundImage = entry.backgroundImage.one() %}
    <div style="background-color: #e8d5b9">
        <header class="landingHeader landingHeader--noMarginBottom" style="background-image: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(40,40,40,0) 50%), url('/images/dots.png'), url('{{ backgroundImage.url }}');">
            <div class="headerContainer">
                <h1 class="headerTitle">
                <div class="verticalBar"></div>
                    {{ entry.title }}
                </h1>
                <div class="breadcrumbs__container breadcrumbs__container--header breadcrumbs__container--header--tan">
                    {% include '_parts/breadcrumbs' %}
                </div>
            </div>
        </header>
    </div>
    {% endif %}

    <div class="tailgateIntro">
        <div class="tailgateIntro__container">
            {% set image = entry.image.one() %}
            <img class="tailgateIntro__image" src="{{ image.url }}" alt="">
            <div class="tailgateIntro__content">
                <h2 class="tailgateIntro__heading">{{ entry.heading1 }}</h2>
                <div class="tailgateIntro__text" >{{ entry.wysiwyg }}</div>
                <div class="tailgateIntro__buttons">
                    {% if entry.button1|length %}
                    {% set blocks = entry.button1.all() %}
                    {% if blocks|length %}
                            {% for block in blocks %}
                                <p class="tailgateIntro__button-container">
                                    <a class="tailgateIntro__button button button--internalLink" href="{{ block.buttonLink }}"> {{ block.buttonText }}</a>
                                </p>
                            {% endfor %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    {% set tailgateTalks = craft.categories().group('tailgateTalks') %}
    {% set categories = tailgateTalks.all() %}
    {% set tailgateTalksDocTypes = craft.categories().group('documentType') %}
    {% set docTypeCategories = tailgateTalksDocTypes.all() %}


    <div class="filterNav filterNav--tailgate">
        <div class="filterNav__info">
            <h2 class="filterNav__heading">
                {{ entry.heading2 }}
            </h2>
            <p class="filterNav__intro">
                {{ entry.intro2 }}
            </p>
        </div>
        <div>
            <div class="filterNav__listContainer">
                <p class="filterNav__listHeading">Categories</p>
                <ul class="filterNav__list">
                    {% nav category in categories %}
                        <li class="filterNav__listItem8">
                            <button data-filter="{{ category }}" class="category filter filterNav__listItem">{{ category.title }}</button>
                        </li>
                    {% endnav %}
                </ul>
            </div>
            <div class="filterNav__sortContainer">
                <p class="filterNav__listHeading">Digital Materials</p>
                <ul class="filterNav__list">
                    {% nav docTypeCategory in docTypeCategories %}
                        <li class="filterNav__sortButtonContainer">
                            <button data-filter2="{{ docTypeCategory }}" class="category {{ docTypeCategory }} filter2 filterNav__sortButton">{{ docTypeCategory.title }}</button>
                        </li>
                    {% endnav %}
                </ul>
            </div>
        </div>
    </div>



    <div class="miniTiles miniTiles--tailgate projects projects2">
    {% if entry.tailgateTalksTile|length %}
    {% set blocks = entry.tailgateTalksTile.all() %}
    {% if blocks|length %}
        {% for block in blocks %}
        {% set image = block.image.one() %}
            {% if image %}
                {% set category = block.category.one() %}
                {% set download = block.button1Link.one() %}
                {% set download2 = block.button2Link.one() %}
                {% set docTypeCategory = block.documentType.one() %}

                <div class="project8" data-filter2="{{ docTypeCategory }}">
                    <div class="miniTile__doctypeContainer project project2" data-filter2="{{ docTypeCategory }}" data-filter="{{ category }}">
                        {% nav category in docTypeCategories %}
                            <p class="miniTile__doctype">{{ docTypeCategory.title }}</p>
                        {% endnav %}
                    </div>
                    <div class="miniTiles__background miniTiles__background--tailgate project project2" data-filter28="{{ docTypeCategory }}" data-filter="{{ category }}">
                        <div class="miniTile miniTile--tailgate project8" data-filter2="{{ docTypeCategory }}" data-filter="{{ category }}" style="background: url('{{ image.url }}');background-size: cover;background-repeat: no-repeat;background-position: bottom;">
                            <div class="miniTile__button-container">
                                <a class="miniTile__downloadButton button8 button--downloadLink8" href="{{ download.url }}" target="_blank" rel="noopener">
                                    <p class="miniTile__downloadButtonLabel8 button button--downloadLink button--downloadLink--tailgate">
                                        {{ block.button1Label }}
                                    </p>
                                </a>
                                {% if download2|length %}
                                <a class="miniTile__downloadButton button8 button--downloadLink8" href="{{ download2.url }}" target="_blank" rel="noopener">
                                    <p class="miniTile__downloadButtonLabel8 button button--downloadLink button--downloadLink--tailgate">
                                        {{ block.button2Label }}
                                    </p>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="miniTiles__hoverOverlay"> </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endif %}
</div>


<style>
    .hide { 
        animation: hide .5s ease 0s 1 normal forwards;
        transform-origin: center;
    }

    .show { 
        animation: show .5s ease 0s 1 normal;    
        transform-origin: center;
    }

    .parentHide {
        display: none !important;
    }



</style>

{% endblock %}
