{% extends 'layout' %}

{% block main %}

{# Get Service pages
{% set servicePage = craft.entries
    .id(1677)
    .one() %}

{% set servicePages = craft.entries
    .section('servicePages')
    .level(1)
    .all() %} #}

    {% if entry.backgroundImage|length %}
    {% set backgroundImage = entry.backgroundImage.one() %}
    <header class="landingHeader" style="background-image: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(40,40,40,0) 50%), url('/images/dots.png'), url('{{ backgroundImage.url }}');">
        <div class="headerContainer">
            <h1 class="headerTitle">
                <div class="verticalBar"></div>
                {{ entry.title }}
            </h1>
        </div>
    </header>
    {% endif %}

    <div class="container">
        {% set blocks = entry.theContent.all() %}
        {% include '_parts/matrix.twig' %}
    </div>

    <div class="envLanding-container">
        <h2 class="subheading8">{{ entry.heading1 }}</h2>
        <p class="introText">{{ entry.intro1 }}</p>

        <h3 class="sectionHeading">{{ entry.heading2 }}</h3>
        
        <div class="miniTiles miniTiles--square">
            {% if entry.squareMiniTile|length %}
            {% set blocks = entry.squareMiniTile.all() %}
                {% if blocks|length %}
                {% for block in blocks %}
                {% set image = block.backgroundImage.one() %}
                {% if image %}
                <div class="miniTiles__background">
                    <a target="_blank" href="{{ block.linkUrl }}">
                        <div class="miniTile miniTile--square" style="background: url('{{ image.url }}');background-size: cover;background-repeat: no-repeat;background-position: bottom;">
                            {% if block.date | length %}
                            <p class="miniTile__date">{{ block.date }}</p>
                            {% endif %}
                            <div>
                                <h3 class="miniTile__heading">{{ block.heading }}</h3>
                                <p class="button button--internalLink">{{ block.linkText }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="envLanding-container">

        <h3 class="sectionHeading">{{ entry.heading3 }}</h3>
        
        <div class="miniTiles miniTiles--square">
            {% if entry.squareMiniTile|length %}
            {% set blocks = entry.squareMiniTileVideo.all() %}
                {% if blocks|length %}
                {% for block in blocks %}
                {% set image = block.backgroundImage.one() %}
                {% if image %}
                <div class="miniTiles__background">
                    <a href="{{ block.linkUrl }}">
                        <div class="miniTile miniTile--square" style="background: url('{{ image.url }}');background-size: cover;background-repeat: no-repeat;background-position: bottom;">
                            {% if block.date | length %}
                            <p class="miniTile__date">{{ block.date }}</p>
                            {% endif %}
                            <div>
                                <h3 class="miniTile__heading">{{ block.heading }}</h3>
                                <p class="button button--internalLink">{{ block.linkText }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% if entry.quoteSection|length %}
    <div class="quote-section">
        <div class="quote-section__background-container">
            <div class="quote-section__container">
                {% set blocks = entry.quoteSection.all() %}
                    {% if blocks|length %}
                        {% for block in blocks %}
                        <img class="quote-section__image" src="{{ block.quoteAuthorImage.one().url }}" alt="">
                        <div class="quote-section__content">
                            <div class="quote-section__quote">{{ block.quote }}</div>
                            <p class="quote-section__author"> -{{ block.quoteAuthor }}</p>
                        </div>
                        {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}