{% extends 'layout' %}

{% block main %} 

<div class="mainNavSpacer"></div>

<div class="breadcrumbs__container container">
    {% include '_parts/breadcrumbs' %}
</div>

<div class="bioHeadingSection">
    <div class="bioHeadingSection__container">
        <div class="bioHeadingSection__content">
            {% if entry.image|length %}
            {% set image = entry.image.one() %}
                <img class="bioHeadingSection__image" src="{{ image | length ? image.getUrl('squareImage') : "/images/default-bio-image.png" }}" alt="">
            {% endif %}

        
            <div class="bioHeadingSection__text {{ entry.image | length ? null : 'bioHeadingSection__text--noBioImage' }}">
                <div class="bioHeadingSection__name">
                    {{ entry.title }}
                </div>
        
                <div class="bioHeadingSection__position">
                    {{ entry.heading1 }}
                </div>
        
                <div class="bioHeadingSection__email">
                    <a href="mailto:{{ entry.heading2 }}">{{ entry.heading2 }}</a>
                </div>
        
            </div>

        </div>

    </div>
</div>
<div class="bioContent">
    {% if entry.intro2| length%}
        <div class="bioContent__quote">
            {{ entry.intro2 }}
        </div>
    {% endif %}
    <div class="bioContent__bio bioContent__bio--noBioImage">
        {{entry.simpleWysiwyg}}
    </div>
    

</div>



{% endblock %}