/* -------------------------------------------------------------------------- *
 * Placeholder Classes for Layout *
 * -------------------------------------------------------------------------- */

@use '../baseline' as *;

// Standard container class
%container {
  margin-left: auto;
  margin-right: auto;
  max-width: settings('width');
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

// Remove margins from child elements
%crushMargins {
  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

// Remove default styles from list elements
%listReset {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Hide from view but not from screen readers
%visuallyHidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
