/* -------------------------------------------------------------------------- *
 * Placeholder Classes for Text *
 * -------------------------------------------------------------------------- */

@use '../baseline' as *;


%largeHeroHeading {
  font-size: toRem(70px);
  font-weight: bold;
  line-height: 1;
}

%heroHeading {
  font-size: toRem(56px);
  font-weight: bold;
  line-height: 1.1;
}

%largeHeading {
  font-size: toRem(40px);
  font-weight: bold;
}

%mediumHeading {
  font-size: toRem(32px);
  font-weight: bold;
  line-height: 1.1;
}

%defaultHeading {
  font-size: toRem(32px);
  font-weight: bold;
  line-height: 1.1;
}

%smallHeading {
  font-size: toRem(24px);
  font-weight: bold;
  line-height: 1.1;
}

%paragraphText {
  font-size: toEm(18px);
  line-height: 27px;
}

%smallText {
  font-size: toEm(14px);
}

// Inline IMG or SVG element
%icon {
  display: inline-block;
  fill: currentColor;
  margin: 0 10px;
  vertical-align: middle;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.smallHeading--sage {
  @extend %smallHeading;
  font-weight: bold;
  color: palette('green', 'sage');
  padding: 20px 0;
  width: 100%;
}

.mediumHeading {
  padding: 20px 0;
  width: 100%;
  
  &--red {
    @extend %mediumHeading;
    font-weight: bold;
    color: palette('red', 'lightWine');
    width: 100%;
    margin-top: 35px;
    margin-bottom: 30px;
  }

  &--black {
    @extend %mediumHeading;
    font-weight: bold;
    color: palette('black', 'dark');
    width: 100%;
    margin-top: 35px;
  }

  &--sage {
    @extend %mediumHeading;
    font-weight: bold;
    color: palette('green', 'sage');
    width: 100%;
    margin-top: 35px;
  }
}

.largeHeading--black {
  @extend %largeHeading;
  padding: 20px 0;
  width: 100%;

  color: palette('black', 'dark');
}

.largeHeading--lightweightblack {
  @extend %largeHeading;
  width: 100%;
  padding: 20px 0;
  font-weight: lighter;
  color: palette('black', 'dark');
  line-height: 1.2;
}

.xlargeHeading--black {
  @extend %heroHeading;
  width: 100%;
  padding: 20px 0;

  color: palette('black', 'dark');
}