{% set url = '' %}
{% set breadcrumbs = [] %}

{% set segments = craft.app.request.getSegments() %}
{% for segment in segments %}
    {% set url =  url ~ '/' ~ segment %}
    {% set uri = url|trim('/', 'left') %}

    {% set element = craft.app.elements.getElementByUri(uri) %}
    {% if element|length %}
        {% set breadcrumbs = breadcrumbs|merge([{
            url: currentSite.baseUrl ~ uri,
            title: element.title,
        }]) %}
    {% endif %}
{% endfor %}

<ol class="breadcrumbs">
        {# <?xml version="1.0" encoding="utf-8"?>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 227.6 47.6" style="enable-background:new 0 0 227.6 47.6;" xml:space="preserve">
        <style type="text/css">
            .st0{fill:#FFFFFF;}
        </style>
        <path id="Path_19557" class="st0" d="M0,0c7.1,0,13.8,3.2,18.4,8.7c6.2,7.5,3.8,17.8,8.2,26.1c4.2,7.9,12.3,12.8,21.3,12.9h132
            c7,0,13.7-3.1,18.3-8.4c6.5-7.6,4-18,8.4-26.4C210.6,5,218.7,0.1,227.6,0H0z"/>
        </svg> #}

    {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumbs__item">
            <a class="breadcrumbs__link{% if loop.last %} breadcrumbs__link--active{% endif %}" href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a>
        </li>
    {% endfor %}
</ol>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {% for breadcrumb in breadcrumbs %}
                {
                    "@type": "ListItem",
                    "position": {{ loop.index }},
                    "name": "{{ breadcrumb.title }}",
                    "item": "{{ breadcrumb.url }}"
                }{% if not loop.last %},{% endif %}
            {% endfor %}
        ]
    }
</script>
