{% if button is defined %}
    <a class="button button--{{ button.style }}" href="{{ button.buttonUrl }}"{% if button.newTab %} target="_blank" rel="noopener"{% endif %}>
        <span>{{ button.label }}</span>
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"/></svg>
    </a>
{% endif %}
