{% if carouselItems is defined and carouselItems|length %}
    {% if carouselItems is defined and carouselItems|length %}
        {% for item in carouselItems %}
            <div class="carousel__item">
                <div class="carousel__flex">
                    {% if item.quoteAuthorImage | length%}
                    <div class="carousel__media">
                        <img src="{{ item.quoteAuthorImage.one().url }}" alt="">
                    </div>
                    {% endif %}
                    <div class="carousel__content">
                        <div {% if item.quoteAuthor|length %} class="carousel__text carousel__text--quote" {% else %} class="carousel__text" {% endif %}>{{ item.quote }}</div>
                        {% if item.quoteAuthor|length %}
                            <p class="carousel__author"> -{{ item.quoteAuthor }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endif %}

{% do view.registerJsFile('/slick/slick.min.js') %}
