<div class="tailgate__filter">
    {% set tailgateTalks = craft.categories.group('tailgateTalks').all() %}

    <h2 class="peopleListing__filterHeading">Category</h2>

    <ul class="tax">
        {% for category in tailgateTalks %}
            <li class="tax__item">
                {% set href = '' %}

                {% if category.id in params %}
                    {% set ids = params|filter((val) => val != category.id) %}

                    {% for id in ids %}
                        {% set href = '?' ~ 'cat[]'|e('url') ~ '=' ~ id ~ '&' %}
                    {% endfor %}

                    <a class="tax__link tax__link--{{ category.group|lower }} is-active" href="/{{ craft.app.request.segments|first }}/{{ craft.app.request.segments|last }}/{{ href }}#PeopleListing">
                        {{ category.title }}
                    </a>
                {% else %}
                    {% for id in params %}
                        {% set href = '?' ~ 'cat[]'|e('url') ~ '=' ~ id ~ '&' %}
                    {% endfor %}

                    {% set href = '?' ~ 'cat[]'|e('url') ~ '=' ~ category.id %}

                    <a class="tax__link tax__link--{{ category.group|lower }}" href="/{{ craft.app.request.segments|first }}/{{ craft.app.request.segments|last }}/{{ href }}#PeopleListing">
                        {{ category.title }}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>