 {% if form is defined %}
    <div class="form">
        {% if form.submittedSuccessfully %}
            <div class="form__alert">
                <svg class="form__alertIcon" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 50 50">
                    <circle style="fill:#49ba4a" cx="25" cy="25" r="25"/>
                    <polygon style="fill:#ffffff" points="7.54 25.8 11.095 22.245 19.925 31.075 38.92 12.08 42.42 15.58 20 38 7.54 25.8"/>
                </svg>
                <p class="form__alertMessage">
                    {{ successMsg }}
                </p>
            </div>
        {% endif %}

        {{ form.renderTag }}
        {% for row in form %}
            {% set columns = row|length != 1 %}
            {% if columns %}
                <div class="form__row">
            {% endif %}
            {% for field in row %}
                {% if columns %}
                    <div class="form__col">
                {% endif %}
                {% switch field.type %}
                {% case 'textarea' %}
                    {% set labelClass = 'form__label form__label--animate' %}
                    {% set inputClass = 'form__textarea js-animateInput' %}
                {% case 'select' %}
                    {% set labelClass = 'form__label' %}
                    {% set inputClass = 'form__select' %}
                {% case 'radio' %}
                    {% set labelClass = 'form__label form__label--bool' %}
                    {% set inputClass = 'form__radio' %}
                {% case 'checkbox' %}
                    {% set labelClass = 'form__label form__label--bool' %}
                    {% set inputClass = 'form__checkbox' %}
                {% case 'submit' %}
                    {% set labelClass = '' %}
                    {% set inputClass = 'button button--internalLink' %}
                {% case 'text' %}
                    {% set labelClass = 'form__label form__label--animate' %}
                    {% set inputClass = 'form__input js-animateInput' %}
                {% case 'email' %}
                    {% set labelClass = 'form__label form__label--animate' %}
                    {% set inputClass = 'form__input js-animateInput' %}
                {% case 'tel' %}
                    {% set labelClass = 'form__label form__label--animate' %}
                    {% set inputClass = 'form__input js-animateInput' %}
                {% default %}
                    {% set labelClass = 'form__label' %}
                    {% set inputClass = 'form__input' %}
                {% endswitch %}
                <div class="form__field">
                    {{ field.render({
                        class: inputClass,
                        errorClass: 'form__errors',
                        instructionsBelowField: true,
                        instructionsClass: 'form__info',
                        labelClass: labelClass,
                    }) }}
                </div>
                {% if columns %}
                    </div>
                {% endif %}
            {% endfor %}
            {% if columns %}
                </div>
            {% endif %}
        {% endfor %}
        {{ form.renderClosingTag }}
    </div>
{% endif %}
