    {% if entry.iconTile|length %}
    <div class="iconTiles__section">
        <div class="iconTiles__container">
            <h3 class="iconTiles__heading">{{ entry.intro2 }}</h3>
            <div class="iconTiles">
                {% set blocks = entry.iconTile.all() %}
                {% if blocks|length %}
                    {% for block in blocks %}
                    {% set image = block.iconTileIcon.one() %}
                    {% if image %}
                    <div class="iconTile">
                        <div class="iconTile__icon-container">
                            <img class="iconTile__icon" src="{{ image.url }}" alt="">
                        </div>
                        <div class="iconTile__decorativeLine"></div>
                        {% if block.iconTileHeading | length %}
                            <h3 class="iconTile__heading">{{ block.iconTileHeading }}</h3>
                        {% endif %}
                        {% if block.iconTileText | length %}
                            <p>{{ block.iconTileText }}</p>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}