{#{% set menu = craft.entries.section('mainMenu')%}


{% set firstLevelLinks = menu.level(1) %}#}

<header class="mainNav__header">
    <div class="mainNav__container">

        <div class="mainNav">
            <div class="mainNav__logo-container">
                <a href="/">
                    <img class="mainNav__logo" src="/images/IDA-logo-primary-RGB.svg" alt="">
                </a>
            </div>
            <div class="mobileNav__buttons">
                <a class="mobileNav__logo" href="/">
                    <img class="mainNav__logo" src="/images/IDA-logo-reverse-RGB.svg" alt="">
                </a>
                <button class="mainNav__mobileButton"></button>
            </div>

            <menu class="mainNav__content">
            {% set nodes = craft.navigation.nodes('mainMenu').all() %}

                {% nav node in nodes %}
                    <li class="mainNav__toplinkHover">
                        {{ node.link }}
                        <div class="mainNav__underline"></div>

                        {% ifchildren %}
                        <div class="sublink-list-container">
                            <ul class="mainNav__sublink-list">
                                <li class="mainNav__sublink-list-item8">
                                    {% children %}
                                </li>
                            </ul>
                        </div>
                        {% endifchildren %}
                    </li>
                {% endnav %}

                <div class="mobileNav__icon-container" style="cursor:pointer" onclick="document.getElementById('contact').scrollIntoView();">
                    <img src="/images/contact-icon.svg" alt=""> <p>Contact</p>
                </div>
            </menu>

            <div class="mainNav__icon-container">
                <a href="#scrollToFooter">
                    <img src="/images/contact-icon.svg" alt="">
                </a>
            </div>

        </div>
    </div>
</header>
