
{% if blocks is defined and blocks|length %}
    {% for block in blocks %}
        {% switch block.type.handle %}
            {% case 'wysiwyg' %}
            <div class="container">
                <div class="wysiwyg">
                    {% if block.heading3 | length %}
                    <h3 class="bodyContent__secondSubheading">{{ block.heading3 }}</h3>
                    {% endif %}
                    {{ block.wysiwyg }}
                </div>
            </div>

            {% case 'smallSageHeading' %}
            <div class="container">
                <h3 class="smallHeading--sage"> {{ block.heading1 }} </h3>
            </div>

            {% case 'mediumBlackHeading' %}
            <div class="container">
                <h3 class="mediumHeading--black"> {{ block.heading1 }} </h3>
            </div>

            {% case 'mediumHeading' %}
            <div class="container">
                <h3 class="mediumHeading--{{ block.colourPicker }}"> {{ block.heading1 }} </h3>
            </div>

            {% case 'mediumRedHeading' %}
            <div class="container">
                <h3 class="mediumHeading--red"> {{ block.heading1 }} </h3>
            </div>

            {% case 'largeBlackHeading' %}
            <div class="container">
                <h3 class="largeHeading--black"> {{ block.heading1 }} </h3>
            </div>

            {% case 'largeLightWeightHeading' %}
            <div class="container">
                <h3 class="largeHeading--lightweightblack"> {{ block.heading1 }} </h3>
            </div>

            {% case 'xlargeBlackHeading' %}
            <div class="container">
                <h3 class="xlargeHeading--black"> {{ block.heading1 }} </h3>
            </div>

            {% case 'goalSection' %}
                <div class="goal__section">
                    <div class="goal__container8">
                        {% if block.heading2 | length %}
                            <h2 class="goal__heading">{{ block.heading2 }}</h2>
                        {% endif %}
                        <p class="goal__text">{{ block.heading3 }}</p>
                    </div>
                </div>

            {% case 'quoteSection' %}
                <div class="carousel carousel--matrix">
                    <div class="js-carousel" data-type="default">
                        {% set carouselItems = block.quoteSection.all() %}
                            {% if carouselItems is defined and carouselItems|length %}
                                {% for item in carouselItems %}
                                    <div class="carousel__item">
                                        <div class="carousel__flex">
                                            {% if item.quoteAuthorImage | length%}
                                                <div class="carousel__media">
                                                    <img src="{{ item.quoteAuthorImage.one().url }}" alt="">
                                                </div>
                                            {% endif %}
                                            <div class="carousel__content">
                                                <div {% if item.quoteAuthor|length %} class="carousel__text carousel__text--quote" {% else %} class="carousel__text" {% endif %}>{{ item.quote }}</div>
                                                {% if item.quoteAuthor|length %}
                                                    <p class="carousel__author"> -{{ item.quoteAuthor }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    {% do view.registerJsFile('/scripts/libs/jquery-2.5.1.min.js') %}
                    {% do view.registerJsFile('/slick/slick.min.js') %}

            {% case 'miniTile' %}
                {% set blocks = block.miniTile.all() %}
                {% if blocks|length %}
                <div class="miniTiles container miniTiles--theContent">
                    {% for block in blocks %}
                    {% set image = block.miniTileBackgroundImage.one() %}
                    {% if image %}
                            <div class="miniTiles__background">
                                <div class="miniTile" style="background-image:linear-gradient(180deg, #28282850 0%, #28282850 53%, #28282850 100%), url('{{ image.url }}');background-size: cover;background-repeat: no-repeat;background-position: bottom;">
                                    <a href="{{ block.miniTileLink }}">
                                    <div>
                                        <h3 class="miniTile__heading">{{ block.miniTileHeading }}</h3>
                                        <p class="button button--internalLink">{{ block.miniTileLinkText }}</p>
                                    </div>
                                    </a>
                                </div>
                            </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}

            {% case 'squareMiniTile' %}
                {% set blocks = block.squareMiniTile.all() %}
                    {% if blocks|length %}
                    <div class="miniTiles--square container miniTiles--theContent">
                    {% for block in blocks %}
                        {% set image = block.backgroundImage.one() %}
                        {% if image %}
                            <div class="miniTiles__background miniTiles__background--square">
                                <a target="_blank" href="{{ block.linkUrl }}">
                                    <div class="miniTile miniTile--square" style="background-image:linear-gradient(180deg, #28282850 0%, #28282850 53%, #28282850 100%), url('{{ image.url }}');background-size: cover;background-repeat: no-repeat;background-position: bottom;">
                                        {% if block.date | length %}
                                        <p class="miniTile__date">{{ block.date }}</p>
                                        {% endif %}
                                        <div>
                                            <h3 class="miniTile__heading">{{ block.heading }}</h3>
                                            <p class="button button--internalLink">{{ block.linkText }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                        {% endif %}

            {% case 'videoTile' %}
                {% set blocks = block.videoTile.all() %}
                    {% if blocks|length %}
                        <div class="miniTiles--square container miniTiles--theContent miniTiles--videoContent">
                            {% for block in blocks %}
                                {% set image = block.backgroundImage.one() %}
                                {% if image %}
                                    <div class="miniTiles__background miniTiles__background--square miniTiles--videoTile">
                                        <div class="miniTile miniTile--square miniTile--videoTile" style="background-image:linear-gradient(180deg, #28282850 0%, #28282850 53%, #28282850 100%), url('{{ image.url }}');background-size: cover;background-repeat: no-repeat;background-position: bottom;">
                                            <div class="miniTiles__buttonGroup">
                                                {% if block.lang1LinkUrl | length and block.lang1LinkText | length %}
                                                <a target="_blank" rel="noopener" class="button button--videoLink" href="{{ block.lang1LinkUrl }}">{{ block.lang1LinkText }}</a>
                                                {% endif %}
                                                {% if block.lang2LinkUrl | length and block.lang2LinkText | length %}
                                                <a target="_blank" rel="noopener" class="button button--videoLink" href="{{ block.lang2LinkUrl }}">{{ block.lang2LinkText }}</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if block.heading | length %}
                                        <h2 class="miniTiles__heading">{{ block.heading }}</h2>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

            {% case 'downloadTile' %}
                {% set blocks = block.downloadTile.all() %}

                {% if blocks|length %}
                <div class="miniTiles miniTiles--theContent container">
                    {% for block in blocks %}
                    {% set image = block.backgroundImage.one() %}
                    {% set download = block.itemToDownload.one() %}
                    {% if image %}
                    {# minitile classic styles #}
                            <div class="miniTiles__background">
                                <div class="miniTile" style="background:linear-gradient(180deg, #28282850 0%, #28282850 53%, #28282850 100%), url('{{ image.url }}');background-size: cover;background-repeat: no-repeat;background-position: bottom;">
                                    <a class="miniTile--download" href="{{ download.url }}" download>
                                    <div class="miniTiles__hoverOverlay miniTiles__hoverOverlay--download"></div>
                                        <div class="miniTile__heading--download-container" >
                                            <h3 class="miniTile__heading miniTile__heading--download">{{ block.heading }}</h3>
                                        </div>
                                        <div class="newsletterButton__container">
                                            <p class="button button--downloadLink newsletterButton">Download</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        {# <a class="miniTile--download" href="{{ download.url }}" download>
                            <div class="miniTiles__background">
                                <div class="miniTile miniTile--news" style="background:linear-gradient(180deg, #28282850 0%, #28282850 53%, #28282850 100%), url('{{ image.url }}');background-position: bottom;background-size: cover;background-repeat: no-repeat;">
                                    <div class="miniTiles__hoverOverlay">
                                    </div>
                                    <p class="button button--downloadLink newsletterButton">Download</p>
                                    <h3 class="miniTile__heading miniTile__heading--download">{{ block.heading }}</h3>
                                </div>
                            </div>
                        </a> #}
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}

            {% case 'buttons'%}
                {% set buttons = block.buttons.all() %}
                <div class="button__container">
                {% for button in buttons %}
                <div class="button__group button__group{{ button.buttonAlignment.value }}">
                    <a class="button button--{{ button.buttonType.value }}" href="{{ button.buttonUrl }}"> {{ button.buttonText }}</a>
                </div>
                {% endfor %}
                </div>

            {% case 'downloadButtonGroup' %}
                <div class="container">
                    <div class="button__downloadGroupContainer">
                        <div class="button__downloadGrid {{ block.downloadButtons.count == 1 ? 'button__downloadGrid--single' : null }}">
                            {% set buttons = block.downloadButtons.all() %}
                            {% for button in buttons %}
                                <a class="button button--downloadLink" target="_blank" rel="noopener" href="{{ button.downloadAsset.one().url }}"> {{ button.buttonText }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            {% case 'button' %}
                {% set button = block %}
                {% set prev = block.getPrev().type.handle %}
                {% set next = block.getNext().type.handle %}

                {% if prev != 'button' %}
                    <div class="buttonGroup">
                {% endif %}

                {% include '_parts/button' %}

                {% if next != 'button' %}
                    <div class="buttonGroup">
                {% endif %}

            {% case 'cta' %}
                <div class="cta">
                    {% set image = block.image.one() %}
                    {% if image|length %}
                        <div class="cta__feature">
                            <img class="cta__featureImg" alt="{{ image.title }}" src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" />
                        </div>
                    {% endif %}

                    <div class="cta__content">
                        <div class="wysiwyg">
                            {{ block.wysiwyg }}
                        </div>

                        {% set button = block %}
                        {% include '_parts/button' %}
                    </div>
                </div>

            {% case 'testimonial' %}
                <figure class="testimonial">
                    <blockquote class="testimonial__content">
                        {{ block.quote }}
                    </blockquote>

                    <figcaption class="testimonial__author">{{ block.author }}</figcaption>
                </figure>
                        {% case 'video' %}
                        {% set videoidfield = block.youtubeVideoId|trim %}

                        {# If the trimmed field value is exactly 11 characters, assume it's the video ID itself #}
                        {% if videoidfield|length == 11 %}
                            {% set id = videoidfield %}
                        {% else %}
                            {% set regex1 = '/^(?:https?:\\/\\/)?(?:www\\.)?(?:youtu\\.be\\/|youtube\\.com)(?:\\/embed\\/|\\/v\\/|\\/watch\\?v=|\\/watch\\?.+&v=)/' %}
                            {% set regex2 = '/(\\/)$/' %}
                            {% set regex3 = '/(&.*)/' %}
                            {% set id = videoidfield|replace(regex1, '')|replace(regex2, '')|replace(regex3, '') %}
                        {% endif %}

                        <style>
                            .video {
                                max-width: 700px;
                                width: 100%;
                                margin-bottom: 40px;
                            }
                            .video__iframe {
                                aspect-ratio: 16 / 9;
                                width: 100%;
                            }
                        </style>


                        <div class="video">
                            <iframe class="video__iframe" src="https://www.youtube.com/embed/{{ id }}?modestbranding=1&rel=0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>


                        {% case 'columns' %}
                <div class="row{% if block.firstColumn == 'right' %} row--reverse{% endif %}">
                    <div class="row__col">
                        <div class="wysiwyg">
                            {% if block.firstColumn == 'left' %}
                                {{ block.leftContent }}
                            {% else %}
                                {{ block.rightContent }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="row__col">
                        <div class="wysiwyg">
                            {% if block.firstColumn == 'left' %}
                                {{ block.rightContent }}
                            {% else %}
                                {{ block.leftContent }}
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% case 'accordion' %}
                {% set id = random() %}
                {% set prev = block.getPrev().type.handle %}
                {% set next = block.getNext().type.handle %}

                {% if prev != 'accordion' %}
                    <dl class="accordion">
                {% endif %}

                <div class="accordion__item">
                    <dt class="js-toggle accordion__header" aria-controls="js-{{ id }}" aria-expanded="false" role="button" tabindex="0">
                        {{ block.heading }}
                    </dt>

                    <dd id="js-{{ id }}" class="accordion__content" >
                        <div class="wysiwyg">
                            {{ block.wysiwyg }}
                        </div>
                    </dd>
                </div>

                {% if next != 'accordion' %}
                    </dl>
                {% endif %}

            {% case 'blogArticle' %}
                {% set entry = block.blogArticle.one() %}
                {% if entry|length %}
                    {# TODO: Blog Article Cards #}
                {% endif %}

            {% case 'text' %}
                <div>
                    {{ block.simpleWysiwyg }}
                </div>

        {% endswitch %}
    {% endfor %}
{% endif %}
