{% if entry.iconTile|length %}
    <div class="iconTiles__section">
        <div class="iconTiles__memberHeading">
            <div class="iconTiles__container">
                <h2 class="iconTiles__mainHeading">{{ entry.intro2 }}</h2>
            </div>
        </div>

        <div class="iconTiles__container iconTiles__container--member">
            <div class="iconTiles">
                {% set blocks = entry.iconTile.all() %}
                {% if blocks|length %}
                    {% for block in blocks %}
                        {% set image = block.iconTileIcon.one() %}
                        {% if image %}
                            <div class="iconTile">
                                <div class="iconTile__icon-container">
                                    <img class="iconTile__icon" src="{{ image.url }}" alt="">
                                </div>
                                <div class="iconTile__decorativeLine"></div>
                                {% if block.iconTileHeading | length %}
                                <h3 class="iconTile__heading">{{ block.iconTileHeading }}</h3>
                                {% endif %}
                                {% if block.iconTileText | length %}
                                <p>{{ block.iconTileText }}</p>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    </div>
    <div class="iconTiles__footer">
        <div class="iconTiles__footerContainer">
            <div class="iconTiles__figure">
                <div class="iconTiles__figureText">
                    <span>{{ entry.intro1 | raw }}</span>
                </div>
                {{ entry.intro3 }}
            </div>
            <div class="iconTiles__text">
                {{ entry.wysiwyg }}
            </div>
        </div>
    </div>
{% endif %}