/* -------------------------------------------------------------------------- *
 * Baseline Framework *
 * -------------------------------------------------------------------------- */

@use 'modules/baseline' as *;

/* -------------------------------------------------------------------------- *
 * Custom Modules *
 * -------------------------------------------------------------------------- */

@use 'modules/placeholders' as *;
@use 'modules/consent';
@use 'modules/btn';
@use 'modules/skip';
@use 'modules/notification';
@use 'modules/breadcrumbs';
@use 'modules/wysiwyg';
@use 'modules/button';
@use 'modules/cta';
@use 'modules/testimonial';
@use 'modules/row';
@use 'modules/accordion';
@use 'modules/nav';
@use 'modules/homepage';
@use 'modules/footer.scss';
@use 'modules/tiles.scss';
@use 'modules/newsletter.scss';
@use 'modules/people.scss';
@use 'modules/tailgate.scss';
@use 'modules/membership.scss';
@use 'modules/details.scss';
@use 'modules/filter.scss';
@use 'modules/form.scss';
@use 'modules/carousel';
@use 'modules/slick';
@use 'modules/threeCol';
@use 'modules/article';
@use 'modules/envLanding';
@use 'modules/envServices';
@use 'modules/member';
@use 'modules/freeform';
@use 'modules/generic';
@use 'modules/socialMedia';

/* -------------------------------------------------------------------------- *
 * General Styles *
 * -------------------------------------------------------------------------- */

:root {
  @media (max-width: toEm(600px)) {
    --gutter: 20px;
  }
}

::selection {
  background-color: palette('blue');
}

html {
  background-color: white;
  color: palette('black');
  font-family: fontStack('default');
  line-height: settings('line_height');
  scroll-behavior: smooth;
}

body {
  font-size: toRem(16px);
}

hr {
  clear: both;
  margin: 3em 0;
}

a {
  color: palette('red', 'crimson');
  
}

// Hide from view (modules/placeholders/layout)
.visuallyHidden {
  @extend %visuallyHidden;
}

// Standard container class (modules/placeholders/layout)
.container {
  @extend %container;
}

.grid {
  @include grid(3, (1000px: 2, 600px: 1));
}

// Inline IMG or SVG icon (modules/placeholders/text)
.icon {
  @extend %icon;
}

// Text colours mixin (modules/baseline/mixins)
@include colours;


.landingHeader {
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: cover, auto, cover;
  background-position: bottom center, top right, center center;
  border-radius: 0 0 100px 0;
  margin-bottom: 60px;

  &--topAlign {
    background-position: bottom center, top right, top -80px center;
    @media (max-width: 1350px){
      background-position: bottom center, top right, top center;
    }
  }

  &--noMarginBottom {
    margin-bottom: 0;
  }
}

.headerContainer {
  @extend %container;
  padding-top: 310px;
  padding-bottom: 50px;
}

.headerTitle {
  @extend %heroHeading;
  color: white;
  max-width: 700px;
  padding-left: 35px;
  position: relative;
  @media (max-width: 700px){
    font-size: toRem(40px);
  }
  @media (max-width: 400px){
    font-size: toRem(30px);
  }
}

.envLanding-container {
  @extend %container;
}

.subheading {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 300;
  padding-top: 60px;
  margin-bottom: 20px;
  color: palette('black', 'dull');

    &--noPaddingTop {
      padding-top: 0;
    }

}

.introText {
  @extend %paragraphText;
  max-width: 1030px;
  margin-bottom: 40px;
  color: palette('black', 'dull')

}

.goal {

  &__section {
    background: linear-gradient(#72a6aacc 0%, #72a6aacc 100%), url(/images/our-goal-background.jpg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    margin-bottom: 60px;
  }

  &__container {
    @extend %container;

    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__heading {
    @extend %smallHeading;

    background-image: url(/images/milk-shape.svg);
    background-image: url(/images/milk-shape.svg);
    background-repeat: no-repeat;
    max-width: 100%;
    display: inline-block;
    margin-bottom: 0;
    width: 100%;
    padding: 10px 60px;
    color: palette('green', 'sage');
    text-align: center;
    background-position: center;

  }

  &__text {
    @extend %largeHeading;

    line-height: 1.1;
    font-weight: lighter;
    text-align: center;
    max-width: 955px;
    color: white;
    padding-bottom: 95px;
    margin: 0 auto;
    padding-top: 50px;
  }
}

.sectionHeading {
  @extend %mediumHeading;
  font-weight: bold;
  color: palette('red', 'lightWine')

}

.verticalBar {
  background-color: #e0b167;
  min-width: 10px;
  border-radius: 80px;
  position: absolute;
  left: 0;
  height: 100%;

}

.slider {
  height: 500px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 100px;
  
  @media (min-width: 800px) {
      height: 360px;
    }
  }

.slider__nav {
  width: 80px;
  height: 12px;
  margin: 0 16px;
  border-radius: 30px;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  appearance: none;
  backface-visibility: hidden;
}

.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}

.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  transition: left 0.4s;
  display: flex;
  flex-flow: row nowrap;
}

.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex: 1;
  background-image: url(/images/quote-background-3.jpg);
  background-repeat: no-repeat;

}


@keyframes check {

  50% {
    outline-color: palette('red', 'crimson');
  }

  100% {
    outline-color: palette('red', 'crimson');

  }
}





