{% extends 'layout' %}

{% block main %}
    {% if entry.backgroundImage|length %}
        {% set backgroundImage = entry.backgroundImage.one() %}
        <header class="landingHeader" style="background-image: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(40,40,40,0) 50%), url('/images/dots.png'), url('{{ backgroundImage.url }}');">
            <div class="headerContainer">
                <h1 class="headerTitle">
                    <div class="verticalBar"></div>
                    {{ entry.title }}
                </h1>
            </div>
        </header>
    {% endif %}

    <div class="generic__container">
        {% set blocks = entry.theContent.all() %}
        {% include '_parts/matrix.twig' %}
    </div>

{% endblock %}
