/* -------------------------------------------------------------------------- *
 * SASS Map Lookup Functions *
 * -------------------------------------------------------------------------- */

@use 'variables' as Var;

/* ------------------ *
 * Palette Map Lookup *
 * ------------------ *
 * Shortcut for $palette_map values in Variables.scss
 * If the shade is not declared in the palette map it will be generated
 * @param $colour: Key for the color name in the palette map
 * @param $shade (optional): Key for color shade, defaults to 'default'
 * @return: The requested key value for the color/tint
 */

@function palette($colour, $shade: 'default') {
  // Check for color
  @if map-has-key(Var.$palette_map, $colour) {
    // Check for shade
    @if map-has-key(map-get(Var.$palette_map, $colour), $shade) {
      // Return declared shade from palette map
      @return map-get(map-get(Var.$palette_map, $colour), $shade);
    } @else {
      // Generate shade using default colour
      $colour: map-get(map-get(Var.$palette_map, $colour), 'default');

      @if ($shade == 'lightest') {
        @return scale-color($colour, $lightness: 30%);
      } @else if ($shade == 'lighter') {
        @return scale-color($colour, $lightness: 20%);
      } @else if ($shade == 'light') {
        @return scale-color($colour, $lightness: 10%);
      } @else if ($shade == 'dark') {
        @return scale-color($colour, $lightness: -10%);
      } @else if ($shade == 'darker') {
        @return scale-color($colour, $lightness: -20%);
      } @else if ($shade == 'darkest') {
        @return scale-color($colour, $lightness: -30%);
      } @else {
        // Shade not found
        @warn 'Invalid shade of `#{$shade}` for colour `#{$colour}` in palette.';
        @return null;
      }
    }
  } @else {
    // Color not found
    @warn 'Unknown colour of `#{$colour}` in palette.';
    @return null;
  }
}

/* ------------------- *
 * Settings Map Lookup *
 * ------------------- *
 * Shortcut for $settings_map values in Variables.scss
 * @param $key: Key for the value in the map
 * @return: The requested key value
 */

@function settings($key) {
  @if map-has-key(Var.$settings_map, $key) {
    @return map-get(Var.$settings_map, $key);
  } @else {
    @warn 'Unknown setting of `#{$key}`.';
    @return null;
  }
}

/* --------------------- *
 * Font Stack Map Lookup *
 * --------------------- *
 * Shortcut for $font_stack_map values in Variables.scss
 * @param $key: Key for the value in the map
 * @return: The requested key value
 */

@function fontStack($key) {
  @if map-has-key(Var.$font_stack_map, $key) {
    @return unquote(map-get(Var.$font_stack_map, $key));
  } @else {
    @warn 'Unknown font stack of `#{$key}`.';
    @return null;
  }
}

/* ---------------------- *
 * Font Weight Map Lookup *
 * ---------------------- *
 * Shortcut for $font_weight_map values in Variables.scss
 * @param $key: Key for the value in the map
 * @return: The requested key value
 */

@function fontWeight($key) {
  @if map-has-key(Var.$font_weight_map, $key) {
    @return map-get(Var.$font_weight_map, $key);
  } @else {
    @warn 'Unknown font weight of `#{$key}`.';
    @return null;
  }
}

/* -------------------------------------------------------------------------- *
 * Unit Conversions *
 * -------------------------------------------------------------------------- */

/* ----------------------- *
 * Pixel to REM Conversion *
 * ----------------------- *
 * Converts a pixel value to a root em value based on the root font-size
 * @param $pixels: The size (in pixels) to convert
 * @return: The size in REMs
 */

@function toRem($pixels) {
  $rems: $pixels / map-get(Var.$settings_map, root_font_size);
  @return #{$rems}rem;
}

/* ---------------------- *
 * Pixel to EM Conversion *
 * ---------------------- *
 * Converts a pixel value to an em value based on the user agent font-size
 * Used to get EM values specifically for media features in media queries
 * Media features use the user agent em size (1em = 16px)
 * @param $pixels: The size (in pixels) to convert
 * @return: The size in EMs
 */

@function toEm($pixels) {
  $ems: $pixels / 16px;
  @return #{$ems}em;
}

/* -------------------------------------------------------------------------- *
 * String Manipulation *
 * -------------------------------------------------------------------------- */

/* ----------------- *
 * Capitalize String *
 * ----------------- *
 * Sets the first character in a string to uppercase
 * @param $string: The string to capitalize
 * @return: The capitalized string
 */

@function capitalize($string) {
  @return to-upper-case(str-slice($string, 1, 1)) + str-slice($string, 2);
}

/* -------------------------------------------------------------------------- *
 * Other Functions *
 * -------------------------------------------------------------------------- */

/* ----------------- *
 * Z-Index Generator *
 * ----------------- *
 * Generates a z-index value for the items in $z_index_list in Variables.scss
 * @param $var: The name of the item from the list
 * @return: The reversed index of the item
 */

@function zIndex($var) {
  @if index(Var.$z_index_list, $var) {
    // Return the reversed index (SASS index starts at 1)
    @return length(Var.$z_index_list) - index(Var.$z_index_list, $var) + 1;
  } @else {
    @warn 'Unknown z-index for `#{$var}`.';
    @return null;
  }
}