{% extends 'layout' %}

{% block main %} 

<div class="mainNavSpacer"></div>

<div class="breadcrumbs__container container">
    {% include '_parts/breadcrumbs' %}
</div>

<div class="bioHeadingSection">
    <div class="bioHeadingSection__container">
        <div class="bioHeadingSection__content">
            {% if entry.image|length %}
            {% set image = entry.image.one() %}
                <img class="bioHeadingSection__image" src="{{ image | length ? image.url : "/images/default-logo-image.png" }}" alt="">
            {% endif %}

            <div class="bioHeadingSection__text {{ entry.image | length ? null : 'bioHeadingSection__text--noBioImage' }}">
                <div class="bioHeadingSection__name">
                    {{ entry.title }}
                </div>
        
                <div class="bioHeadingSection__position">
                    {{ entry.heading1 }}
                </div>

                {% if entry.companyWebsiteUrl |length %}
                <div class="bioHeadingSection__email">
                    <a href="{{ entry.companyWebsiteUrl }}" target="_blank">Website</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
    <div class="bioContent">
        <div class="bioContent__bio bioContent__bio--noBioImage theContent">
            {{entry.simpleWysiwyg}}
            {% set blocks = entry.theContent.all() %}
            {% include '_parts/matrix.twig' %}
        </div>
    </div>
{% endblock %}