<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    {# TODO: 503 Error Template #}
    <title></title>
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link rel="license" href="/license.txt">

    {% do view.registerCssFile('/styles/main.css') %}
</head>

<body>
    <header>
    </header>

    <main>
        <h1>503 Error: Service Unavailable</h1>
    </main>

    <footer>
    </footer>

    {% do view.registerJsFile('/scripts/main.js') %}
</body>
</html>
