{% extends 'layout' %}

{% block main %}

    <div class="homepage-header">
        <div class="homepage-header__background-image">
            <div class="homepage-header__container">
                <div class="homepage-header__content" >
                    <h1 class="headerTitle homepage-header__title">
                        <div class="verticalBar"></div>
                        {{ entry.heading1 }}
                    </h1>
                    <p class="homepage-header__copy">{{ entry.intro1 }}</p>
                    
                    {% if entry.button1|length %}
                        {% set blocks = entry.button1.all() %}
                        {% if blocks|length %}
                                {% for block in blocks %}
                                    <p>
                                        <a class="button button--internalLink button--homepageLink" href="{{ block.buttonLink }}"> {{ block.buttonText }}</a>
                                    </p>
                                {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="tagline">
        <div class="tagline__container">
            <div class="tagline__animation-container">
                <img src="/images/cow.svg" alt="">
            </div>
            <div class="tagline__copy">{{ entry.fancyText }}</div>
        </div>
    </div>

    <div class="homepageStats">
        <div class="homepageStats__container">
            <div class="homepageStats__infographics">
                <div class="homepageStat__container">
                    <div class="homepageStat">
                        <img class="homepageStat__idahoGraphic" src="{{ entry.figure1Icon.one().url }}" alt="">
                        {{ entry.figure1Text }}
                    </div>
                    <div class="homepageStat">
                        <img class="homepageStat__globeGraphic" src="{{ entry.figure2Icon.one().url }}" alt="">
                        {{ entry.figure2Text }}
                    </div>
                </div>
                <div class="homepageStat__container">
                    <div class="homepageStat">
                        <img class="homepageStat__farmGraphic" src="{{ entry.figure3Icon.one().url }}" alt="">
                        {{ entry.figure3Text }}

                    </div>
                    <div class="homepageStat">
                        <img class="homepageStat__cowGraphic" src="{{ entry.figure4Icon.one().url }}" alt="">
                        <p><span class="homepageStat__manyCows">{{ entry.figure4Number }}</span>{{ entry.figure4Text }}</p>
                    </div>
                </div>
            </div>
            <div class="homepageStats__numbers">
                <div class="homepageStats__numberContainer" >
                    <p><span class="homepageStats__number">{{ entry.stat1Number }}</span><br>{{ entry.stat1Text }}</p>
                </div>
                <div class="homepageStats__numberContainer" >
                    <p><span class="homepageStats__number" >{{ entry.stat2Number }}</span><br>{{ entry.stat2Text }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="farmBackground"></div>

    <div class="mapSection">
        <h2 class="mapSection__heading">Dairy Processors</h2>
        <div class="mapSection__container">
            <div class="mapSection__map">
                <img src="/images/processors-map.svg" alt="">
            </div>
            <div class="mapSection__list">
                <ul>
                    <li>
                        <img src="/images/processors-map-numbers/map-01.svg" alt="">
                        <p><span><b>Glanbia Nutritionals</b></span> Twin Falls, Gooding, <br> Richfield & Blackfoot </p>
                    </li>
                    <li>
                        <img src="/images/processors-map-numbers/map-02.svg" alt="">
                        <p><span><b>Agropur, Jerome Cheese</b></span> Jerome</p>
                    </li>
                    <li>
                        <img src="/images/processors-map-numbers/map-03.svg" alt="">
                        <p><span><b>Darigold</b></span> Boise, Caldwell, Jerome</p>
                    </li>
                    <li>
                        <img src="/images/processors-map-numbers/map-04.svg" alt="">
                        <p><span><b>Lactalis</b></span> Nampa</p>
                    </li>
                    <li>
                        <img src="/images/processors-map-numbers/map-05.svg" alt="">
                        <p><span><b>High Desert Milk</b></span> Burley</p>
                    </li>
                    <li>
                        <img src="/images/processors-map-numbers/map-06.svg" alt="">
                        <p><span><b>Idaho Milk Products</b></span> Jerome</p>
                    </li>
                    <li>
                        <img src="/images/processors-map-numbers/map-07.svg" alt="">
                        <p><span><b>Magic Valley Quality Milk Producers</b></span> Jerome</p>
                    </li>
                    <li>
                        <img src="/images/processors-map-numbers/map-08.svg" alt="">
                        <p><span><b>Chobani</b></span> Twin Falls</p>
                    </li>
                    <li>
                        <img src="/images/processors-map-numbers/map-09.svg" alt="">
                        <p><span><b>Gossner Foods</b></span> Heyburn</p>
                    </li>
                    <li>
                        <img src="/images/processors-map-numbers/map-10.svg" alt="">
                        <p><span><b>Brewster Cheese</b></span> Rupert</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <img src="/images//processors-map-numbers/map-11.svg" alt="">
                        <p><span><b>Meadowgold</b></span> Boise</p>
                    </li>
                    <li>
                        <img src="/images/processors-map-numbers/map-12.svg" alt="">
                        <p><span><b>Commercial Creamery</b></span> Jerome</p>
                    </li>
                    <li>
                        <img src="/images/processors-map-numbers/map-13.svg" alt="">
                        <p><span><b>Litehouse Foods</b></span> Sandpoint</p>
                    </li>
                    <li>
                        <img src="/images/processors-map-numbers/map-14.svg" alt="">
                        <p><span><b>Reed’s Dairy</b></span> Idaho Falls</p>
                    </li>
                    <li>
                        <img src="/images/processors-map-numbers/map-15.svg" alt="">
                        <p><span><b>Boise Milk</b></span> Boise</p>
                    </li>
                    <li>
                        <img src="/images/processors-map-numbers/map-16.svg" alt="">
                        <p><span><b>Ballard Family Dairy & Cheese</b></span> Gooding</p>
                    </li>
                    <li>
                        <img src="/images/processors-map-numbers/map-17.svg" alt="">
                        <p><span><b>Cloverleaf Creamery</b></span> Buhl</p>
                    </li>
                    <li>
                        <img src="/images/processors-map-numbers/map-18.svg" alt="">
                        <p><span><b>Manwaring Cheese</b></span> Rigby</p>
                    </li>
                    <li>
                        <img src="/images/processors-map-numbers/map-19.svg" alt="">
                        <p><span><b>Marathon Cheese</b></span> Mountain Home</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="megaTiles">
        {% if entry.megaTile|length %}
            {% set blocks = entry.megaTile.all() %}
            {% if blocks|length %}
                {% for block in blocks %}
                    {% set image = block.megaTileBackgroundImage.one() %}
                    {% if image %}
                    <div class="megaTile-container">
                        <a href="{{ block.megaTileLink }}">
                            <div class="megaTile" style="background-image: linear-gradient(180deg, #28282880 0%, #28282880 53%, #28282880 100%), url('{{ image.url }}');">
                                <div class="megaTile__icon">
                                    <img class="megaTile__icon--inactive" src="{{ block.megaTileIcon.one().url }}" alt="">
                                    <img class="megaTile__icon--hover" src="{{ block.megaTileHoverIcon.one().url }}" alt="">
                                </div>
                                <h2 class="megaTile__heading">{{ block.megaTileHeading }}</h2>
                                <p class="megaTile__copy">{{ block.megaTileText }}</p>
                                <div>
                                    <p class="button button--internalLink">
                                         {{ block.megaTileLinkText }}
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>

    <div class="homepage-worker">
        <div>
            <h2 class="homepage-worker__heading">{{ entry.heading3 }}</h2>
            <p class="homepage-worker__intro">{{ entry.intro3 }}</p>
        </div>
        <div class="miniTiles">
            {% if entry.miniTile|length %}
            {% set blocks = entry.miniTile.all() %}
                {% if blocks|length %}
                {% for block in blocks %}
                {% set image = block.miniTileBackgroundImage.one() %}
                {% if image %}
                <div class="miniTiles__background">
                    <div class="miniTile" style="background: url('{{ image.url }}'); background-size: cover;background-repeat: no-repeat;background-position: bottom;">
                        <a href="{{ block.miniTileLink }}">
                            <h3 class="miniTile__heading">{{ block.miniTileHeading }}</h3>
                            <p class="button button--internalLink">{{ block.miniTileLinkText }}</p>
                        </a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% if entry.quoteSection | length %}
    <div class="carousel">
        <div class="js-carousel" data-type="default">
        {% set carouselItems = entry.quoteSection.all() %}
        {% include '_parts/carousel' %}
        </div>
    </div>
    {% endif %}

    {% if entry.newsletterTile|length %}
    <div class="newsletter-section newsletter-section--homepage">
        <div class="newsletter-section__container">
            <h2 class="newsletter-section__heading">Newsletter</h2>
            {% set blocks = entry.newsletterTile.all() %}
                {% if blocks|length %}
                    {% for block in blocks %}
                    {% set image = block.newsletterImage.one() %}
                    <div class="newsletter-tile__background">
                        <a class="newsletter-tile" href="/newsletter">
                            <img class="newsletter-tile__image" src="{{ image.url }}" alt="">
                            <div class="newsletter-tile__content">
                                <p class="newsletter-tile__date newsletter-tile__date--landing">{{ block.newsletterDate }}</p>
                                <div class="newsletter-tile__heading">{{ block.newsletterHeading }}</div>
                                <p class="newsletter-tile__text" >{{ block.newsletterText }}</p>
                                <div>
                                <p class="button button--internalLink">{{ block.buttonText }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock %}
