<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    {% set consentBoolean = getCookie('consent') %}
    {% if consentBoolean == 'true' and config.gtmId != '' %}
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KZ83XQB');</script>
        <!-- End Google Tag Manager -->
    {% endif %}

    {% block meta %}
        {#{% cache globally using key craft.app.request.pathInfo %}#}
            {% if entry is defined %}
                {% set page = entry %}
            {% elseif category is defined %}
                {% set page = category %}
            {% endif %}

            {% if craft.app.request.absoluteUrl == siteUrl %}
                {% set ogTitle = default.tagline %}
                {% set metaTitle = currentSite.name ~ ' | ' ~ ogTitle %}
            {% else %}
                {% set ogTitle = page.metaTitle|default(page.title) %}
                {% set metaTitle = ogTitle ~ ' | ' ~ currentSite.name %}
            {% endif %}

            {% set metaDescription = page.metaDescription|default('') %}
            {% set robots = page.searchEngineVisibility ? 'all' : 'noindex, nofollow' %}
            {% set canonicalLink = page.canonicalLink|default(craft.app.request.absoluteUrl) %}
            {% set socialSharingImage = page.socialSharingImage.one()|default(default.socialSharingImage.one()) %}

            <title>{{ metaTitle }}</title>
            <meta name="description" content="{{ metaDescription }}">
            <meta name="robots" content="{{ robots }}">
            <link rel="canonical" href="{{ canonicalLink }}" />

            <!-- Facebook Open Graph: http://bit.ly/1Qo0rf4 -->
            <meta property="og:description" content="{{ metaDescription }}">
            <meta property="og:image" content="{{ socialSharingImage.url }}">
            <meta property="og:site_name" content="{{ currentSite.name }}">
            <meta property="og:title" content="{{ ogTitle }}">
            <meta property="og:type" content="website">
            <meta property="og:url" content="{{ craft.app.request.absoluteUrl }}">

            <!-- Twitter Cards: http://bit.ly/1nc4ClU -->
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:image" content="{{ socialSharingImage.url }}" />
            <meta name="twitter:site" content="{{ default.twitterId }}">
        {#{% endcache %}#}
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link rel="license" href="/license.txt">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet"> 

    {% do view.registerCssFile('/styles/main.css') %}
</head>

<body>
    {% if consentBoolean != '' %}
        {% if consentBoolean == 'true' and config.gtmId != '' %}
            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src=https://www.googletagmanager.com/ns.html?id=GTM-KZ83XQB
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
        {% endif %}
    {% else %}
        <dialog id="js-consent" class="consent" open>
            <form method="dialog">
                <input type="hidden" name="gtm" value="{{ config.gtmId }}" />

                <div class="consent__container">
                    <div class="consent__content">
                        {{ cookieConsent.simpleWysiwyg }}
                    </div>

                    <div class="consent__actions">
                        <button class="btn" value="true">Accept</button>
                        <button class="btn btn--secondary" value="false">Decline</button>
                    </div>
                </div>
            </form>
        </dialog>
    {% endif %}

    {% block skipLinks %}
        <nav class="skip">
            <ul class="skip__list">
                <li class="skip__item">
                    <a class="skip__link" href="#main">Skip to Content</a>
                </li>

                <li class="skip__item">
                    <a class="skip__link" href="#footer">Skip to Footer</a>
                </li>
            </ul>
        </nav>
    {% endblock %}

    {% set notificationDate = getCookie('notification') %}
    {% if notificationDate != notification.date|date('c') and notification.display == true %}
        <aside id="js-notification" class="notification is-active" aria-hidden="false">
            <div class="notification__container">
                <div class="notification__content">
                    {{ notification.simpleWysiwyg }}
                </div>

                <button id="js-notificationBtn" class="btn" aria-label="Dismiss" value="{{ notification.date|date('c') }}">X</button>
            </div>
        </aside>
    {% endif %}
            
    {% include '_parts/mainNav' %}

    {# {% cache globally %} #}
        <header id="js-header">
            {# TODO: Global Header #}
        </header>
    {# {% endcache %} #}

    <div id="js-stickyTarget"></div>

    <main id="main">
        {% block main %}
        {% endblock %}
    </main>

    {#{% cache globally %}#}
        <footer class="footer" id="footer">
            <div class="footer__top-section">
                <div class="footer-container footer-container--newsletter">
                    <div class="footer__newsletter-section">
                        <div class="footer__newsletter-section-cta">
                            <div class="footer__newsletter-section-cta-heading">
                                <img src="/images/newsletter-icon.svg" alt="">
                                <h3>
                                    {{ footerContent.heading1 }}
                                </h3>
                            </div>
                            <div class="footer__newsletter-section-inputs">
                                {#<input type="text" placeholder="Name"></input>
                                <input type="email" placeholder="Email"></input>
                                <a href="#" id="button">Send</a>#}

                                {# Start Newsletter Form #}
                                {% set form = craft.freeform.form('newsletterSignup', {
                                    class: 'js-validate',
                                    })
                                %}
                                <div class="form__newsletter">
                                {% set successMsg = 'Thank you for signing up.' %}
                                {% include '_parts/form' %}
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-container">
                <div class="footer-form">
                    <div class="footer-form__logo">
                        <img src="/images/IDA-logo-reverse-RGB.svg" alt="">
                    </div>
                    <div class="footer-form__location-container">
                        <img class="footer-form__location-icon" src="/images/location-icon.svg" alt="">
                        <div class="footer-form__address-container">
                            {{ footerContent.simpleWysiwyg }}
                            <a href="mailto:{{ footerContent.intro1 }}">{{ footerContent.intro1 }}</a>
                        </div>
                        
                    </div>
                    <div id="contact" class="contact">
                        <p class="contact__heading">Contact Us</p>
                        <p class="contact__required" >All fields marked with * are required.</p>

                        {# Start Contact Us Form #}
                        {% set form = craft.freeform.form('contactUs', { class: 'js-validate' })
                        %}

                        {% set successMsg = 'Message sent.' %}
                        {% include '_parts/form' %}

                        {#{{ craft.freeform.form("contactUs", {
                            labelClass: "form-label",
                            inputClass: "form-control",
                            instructionsBelowField: true,
                        }).render() }}#}

                    </div>
                </div>
            </div>
            <div class="footer-details">
                <div id="scrollToFooter" class="footer-details__container">
                    <p>{{ footerContent.heading2 }}</p>
                    {% if default.socialMediaAccounts | length %}
                        {% set items = default.socialMediaAccounts.all() %}
                    <div>
                        <ul class="socialMedia">
                            {% for item in items %}
                            <li>
                                <a target="_blank" rel="noopener" href="{{ item.accountUrl }}"><img src="{{ item.socialMediaIcon.one().url }}" alt="{{ item.accountName }}" /></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </footer>
    {#{% endcache %}#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        $('.js-animateInput').focus(function(){
            $(this).parents('.form__field').addClass('is-focused');
        });

        $('.js-animateInput').blur(function(){
            var inputValue = $(this).val();
            if ( inputValue == "" ) {
                $(this).removeClass('is-filled');
                $(this).parents('.form__field').removeClass('is-focused');
            } else {
                $(this).addClass('is-filled');
            }
        })

        // kludgy fix since freeform uses different markup for email integration checkbox fields
        $('.js-fix-checkbox input').addClass('form__checkbox');
        $('.js-fix-checkbox input').removeClass('form__input');
    </script>
    {% do view.registerJsFile('/scripts/main.js') %}
</body>
</html>
