/* -------------------------------------------------------------------------- *
 * Breadcrumb Links *
 * -------------------------------------------------------------------------- */

@use 'baseline' as *;
@use 'placeholders' as *;

.breadcrumbs {
  display: flex;
  @extend %listReset;

  &__container {
    // @extend %container;
  }

  &__item {
    margin-right: 5px;
    min-width: 0;
    padding-right: 15px;
    position: relative;
    
    &:after {
      content: '/';
      position: absolute;
      right: 0;
      top: 0;
      color: palette('grey', 'nickel');
    }
    
    &:first-child {
      flex-shrink: 0;
    }

    &:last-child {
      flex-shrink: 2;
      margin-right: 0;
      padding-right: 0;
      
      &:after {
        display: none;
      }
    }
    
    @media (max-width: toEm(600px)) {
      display: none;
      padding-left: 70px;
      padding-right: 0;
      margin-right: 0;
      
      &:before {
        content: 'Back To: ';
        display: inline-block;
        left: 0;
        position: absolute;
        top: 0;
        width: 70px;
      }
      
      &:after {
        display: none;
      }
      
      &:first-child {
        padding-left: 80px;
      }
      
      &:nth-last-child(2) {
        display: block;
      }
    }
  }
  
  &__link {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: palette('red', 'crimson');
    text-decoration: none;
    
    &--active {
      color: inherit;
      text-decoration: none;
      color: palette('grey', 'nickel');

        &:hover {
          text-decoration: underline;
        }
      }
    }
}

.breadcrumbs__container--header {
  position: relative;

  .breadcrumbs__link--active {
    color: #28282850;
  }

  .breadcrumbs__item {
    &:after {
      color: #28282850;
    }
  }
  
  .breadcrumbs {
    background-repeat: no-repeat;
    background: white;
    padding: 10px 10px 0;
    display: inline-flex;
    position: absolute;
    margin-left: 40px;
    bottom: -50px;
    @media (max-width: 500px){
      margin-left: 20px;
    }

    &:before {
      content: '';
      background: url(/images/milk-shape-breadcrumb-white-left.svg);
      background-repeat: no-repeat;
      width: 35px;
      height: 36px;
      position: absolute;
      left: -35px;
      bottom: -2px;
    }

    &:after {
      content: '';
      background: url(/images/milk-shape-breadcrumb-white-right.svg);
      background-repeat: no-repeat;
      width: 35px;
      height: 36px;
      position: absolute;
      right: -35px;
      bottom: -2px;
    }

  }
  
  
  &--tan {
    
    .breadcrumbs {
      background: palette('tan');

      &:before {
        background: url(/images/milk-shape-breadcrumb-beige-left.svg);
      }

      &:after {
        background: url(/images/milk-shape-breadcrumb-beige-right.svg);
      }
    }
  }
}
