/* -------------------------------------------------------------------------- *
 * Buttons *
 * -------------------------------------------------------------------------- */

@use 'baseline' as *;
@use 'placeholders' as *;

.btn {
  background-color: white;
  border-color: white;
  border-radius: 4px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  &--secondary {
    background-color: transparent;
    color: white;
  }
}
