/* -------------------------------------------------------------------------- *
 * Button Styles *
 * -------------------------------------------------------------------------- */

@use 'baseline' as *;
@use 'placeholders' as *;

.button {
  align-items: center;
  border: 2px solid;
  border-radius: 50px;
  display: inline-flex;
  line-height: 1.1;
  margin: 10px 10px 1rem 0;
  padding: 10px 55px 10px 20px;
  text-decoration: none;
  background-color: palette('red', 'crimson');
  color: white;
  font-size: toEm(16px);
  border: 1px solid palette('red', 'crimson');
  //width: 205px;
  position: relative;
  transition: .2s all;
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: center;
  background-position-x: right 15px;

  &__container {
    @extend %container;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__group {
    &--alignLeft {
      text-align: left;
    }
    &--alignCenter {
      text-align: center;
    }
    &--alignRight {
      text-align: right;
    }
  }

  &__downloadGroupContainer {
    @extend %container;
    max-width: 800px;
    margin: 0 auto 60px;
    padding-left: 0;
    padding-right: 0;
  }

  &__downloadGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    &--single {
      max-width: 400px;
      margin: 0 auto;
      grid-template-columns: repeat(1, 1fr);
    }

    .button {
      margin-bottom: 20px;
    }

    @media (max-width: 700px){
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &--externalLink {
    background-image: url(/images/button-external.svg);

    &:after {
      content: '';
      background-image: url(/images/button-external.svg);
      background-repeat: no-repeat;
      width: 42px;
      position: absolute;
      right: 0;
      background-color: white;
      height: 100%;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      background-size: 50%;
      background-position: center;
    }

    &:hover {
      &:after {
        background-color: palette('green', 'cadetblue');
        background-image: url(/images/button-external-hover.svg);
      }

    }
  }

  &--internalLink {
    transition: .3s;
    background-position: center right 12px;

    &:after {
      content: '';
      background-image: url(/images/button-arrow.svg);
      background-repeat: no-repeat;
      width: 42px;
      position: absolute;
      right: 0;
      background-color: white;
      height: 100%;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      background-size: 20%;
      background-position: center;
      top: 0;
      transition: width .3s ease-in, border-radius .3s ease-in, opacity .4s;
      background-size: 9px;
      background-position-x: right 15px;
    }
      &:hover {
        &:after {
          background-color: palette('green', 'cadetblue');
          background-image: url(/images/button-arrow-hover.svg);
          width: 100%;
          border-radius: 50px;
          background-size: 9px;
          background-position-x: right 15px;
          opacity: 0;
        }
      }
  }

  &--homepageLink {
    background-image: url(/images/button-arrow-hover.svg);
    width: 100%;
    max-width: 235px;
  }

  &--downloadLink {
    background-image: url(/images/button-download-hover.svg);
    background-size: 15px;
    background-position: right 15px top 8px;
    margin: 0;
    padding-right: 50px;
    width: auto;

    &--tailgate {
      width: 205px;
    }

    &:after {
      content: '';
      background-image: url(/images/button-download.svg);
      background-repeat: no-repeat;
      width: 42px;
      position: absolute;
      right: 0;
      background-color: white;
      height: 100%;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      background-size: 43%;
      background-position: center;
      top: 0;
      transition: width .3s ease-in, border-radius .3s ease-in, opacity .4s;
      background-size: 15px;
      background-position-x: right 15px;

    }
      &:hover {
        &:after {
          background-color: palette('green', 'cadetblue');
          // background-image: url(/images/button-download-hover.svg);
          width: 100px;
          border-radius: 50px;
          background-size: 15px;
          background-position-x: right 15px;
          opacity: 0;
        }
      }
  }

  &--videoLink {
    transition: .3s;
    background-position: center right 12px;
    flex-direction: row !important;
    background-image: url(/images/button-arrow-hover.svg);

    &:after {
      content: '';
      background-image: url(/images/button-arrow.svg);
      background-repeat: no-repeat;
      width: 42px;
      position: absolute;
      right: 0;
      background-color: white;
      height: 100%;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      background-size: 20%;
      background-position: center;
      top: 0;
      transition: width .3s ease-in, border-radius .3s ease-in, opacity .4s;
      background-size: 9px;
      background-position-x: right 15px;
    }
    &:hover {
      &:after {
        background-color: palette('green', 'cadetblue');
        background-image: url(/images/button-arrow-hover.svg);
        width: 100%;
        border-radius: 50px;
        background-size: 9px;
        background-position-x: right 15px;
        opacity: 0;
      }
    }
  }

  /*&--videoLink {
    transition: .3s;
    background-position: center right 12px;
    margin: 0;
    padding: 10px 15px 10px 20px;
    width: 100%;
    max-width: 200px;
    min-width: 200px;

    &--tailgate {
      width: 205px;
    }

    &:after {
      content: '';
      background-image: url(/images/button-arrow.svg);
      background-repeat: no-repeat;
      width: 42px;
      position: absolute;
      right: 0;
      background-color: white;
      height: 100%;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      background-position: center;
      top: 0;
      transition: width .3s ease-in, border-radius .3s ease-in, opacity .4s;
      background-size: 9px;
      background-position-x: right 15px;

    }
    &:hover {
      &:after {
        background-color: palette('green', 'cadetblue');
        background-image: url(/images/button-arrow-hover.svg);
        width: 100%;
        border-radius: 50px;
        background-size: 9px;
        background-position-x: right 15px;
        opacity: 0;
      }
    }
  }*/

  &--star {
    width: auto;
    padding-right: 55px;

    &:after {
      content: '';
      background-image: url(/images/button-star.svg);
      background-repeat: no-repeat;
      width: 42px;
      position: absolute;
      right: 0;
      background-color: white;
      height: 100%;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      background-size: 43%;
      background-position: center;

    }

      &:hover {
        &:after {
          background-color: palette('green', 'cadetblue');
          background-image: url(/images/button-star-hover.svg);
        }
      }
  }


  &:hover {
    background-color: palette('green', 'cadetblue');
    border: 1px solid palette('green', 'cadetblue');
  }

  &--clear {
    background: transparent;
    border: 1px solid white;

    &:hover {
      border: 1px solid white;
    }
  }

  &--primary {
    background-color: palette('black');
    border-color: palette('black');
    color: white;
  }

  &--secondary {
    background-color: transparent;
    border-color: palette('black');
    color: palette('black');
  }

  &--tertiary {
    border: 0;
    color: palette('black');
    padding: 0;
    text-decoration: underline;
  }
}
