@use 'baseline' as *;
@use 'placeholders' as *;

.carousel {
  background-image: url('/images/quote-background-3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 60px;
  padding-top: 20px;
  
  &--matrix {
    margin-bottom: 60px;
  }
  &__item {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
  }
  .slick-dots {
    position: absolute;
    top: 0;
  }

  &__flex {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    gap: var(--gutter);
  }

  &__media {
    flex: 0 0 214px;
  }

  &__text {
    color: #474747;
    font-style: italic;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    &--quote {
      text-align: left;
      &:before {
        content: "";
        background-image: url(/images/quote-marks.svg);
        width: 45px;
        display: inline-block;
        height: 35px;
        background-repeat: no-repeat;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 100%;
  }

  &__author {
    color: #282828;
    font-weight: bold;
  }

  @media (max-width: 675px){
    &__flex {
      flex-direction: column;
      align-items: center;
    }
    &__media {
    }
  }
}