/* -------------------------------------------------------------------------- *
 * CTA Styles *
 * -------------------------------------------------------------------------- */

@use 'baseline' as *;
@use 'placeholders' as *;

.cta {
  align-items: center;
  background-color: palette('black', 'lightest');
  color: white;
  display: flex;
  margin: 2rem 0;
  padding: var(--gutter);

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: toEm(800px)) {
    display: block;
  }

  &__feature {
    flex-basis: calc(50% - var(--gutter));
    margin-right: var(--gutter);

    @media (max-width: toEm(800px)) {
      margin-bottom: var(--gutter);
      margin-right: 0;
    }
  }

    &__featureImg {
      display: block;
    }

  &__content {
    flex-basis: 50%;
    flex-grow: 1;
  }
}
