@use 'baseline' as *;
@use 'placeholders' as *;

.researchDetails {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    @media (min-width: 800px) {
        flex-direction: row;

    }

    &__heading {
        @extend %heroHeading;
        margin-bottom: 40px;
        margin-top: 173px;

        @media (min-width: 1300px) {
            margin-top: 73px;

        }
    }
}

.bodyContent {
    &__subheading {
        @extend %mediumHeading;
        color: palette('red', 'lightWine');
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 20px;
    }

    &__secondSubheading {
        @extend %smallHeading;
        font-weight: bold;
        color: palette('green', 'sage');
        margin: 0;
        // margin-top: 60px;
    }

    .wysiwyg {
        width: 100%;
        
        p {
            font-size: toEm(18px);
        }

        strong {
            font-size: toEm(16px);
            font-weight: bold;
        }
    }

}

.sidebarContent {
    margin: 0 auto;

    margin-left: 75px;
    @media (min-width: 800px) {

    }

    h3 {
        @extend %smallHeading;
    }
}

.bioHeadingSection {
    background-image: url(/images/cow-skin-tiled-vertically.jpg);
    
    &__container {
        @extend %container;
        
    }

    &__text {
        width: 100%;

        @media (min-width: 800px) {
            margin-left: 70px;
        }

        &--noBioImage {
            margin-left: 0;
        }
    }
    
    &__content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 35px;

        @media (min-width: 800px) {
            flex-direction: row;
        }

    }

    &__image {
        border-radius: 0 0 80px 0;
        width: 395px;
    }

    &__name {
        @extend %largeHeading;
        font-weight: bold;
        line-height: 1;
        padding-top: 50px;

        @media (min-width: 800px) {
            padding-top: 100px;
            padding-bottom: 15px;

        }
    }

    &__position {
        @extend %smallHeading;
        color: palette('grey', 'iron');
        font-weight: bold;
        border-bottom: 2px solid palette('grey', 'nickel');
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    &__email {

        a {
            color: palette('red', 'crimson');
            font-weight: bold;
            font-size: toEm(18px);
        }
    }
}

.breadcrumbs {
    padding: 46px 0 23px 0;
    font-weight: 500;
}

.bioContent {
    @extend %container;
    display: flex;
    flex-direction: column;

    @media (min-width: 800px) {
        flex-direction: row;
    }

    &__quote {
        @extend %smallHeading;
        min-width: 395px;
        font-style: italic;
        color: palette('black', 'dull');
        padding-top: 100px;
        font-weight: normal;
        line-height: 36px;

        &:before {
            content: '';
            background-image: url(/images/quote-marks.svg);
            width: 45px;
            display: block;
            height: 35px;
            background-repeat: no-repeat;
        }
    }

    &__bio {
        margin-top: 60px;
        margin-bottom: 100px;
        
        @media (min-width: 800px) {
            margin-left: 70px;

        }

        &--noBioImage {
            margin-left: 0;
        }
    }

}
