
@use 'baseline' as *;
@use 'placeholders' as *;

.envServices {
  &__container {
    @extend %container;
    margin-top: 30px;
  }
  &__flex {
    display: flex;
    gap: var(--gutter);
  }
  &__itemWrapper {
    flex: 1 1 33.333%;
  }
  &__divider {
    border-top: 1px solid white;
    margin: 25px 0
  }
  &__item {
    background: linear-gradient(#dfe0e1cc 0%, #dfe0e1cc 100% ), url(/images/stripes.jpg);
    background-size: cover;
    padding-bottom: 5px;
    font-size: toRem(18px);

    &--item1 {
      border-bottom: 10px solid palette('yellow','darkMustard');
      .envServices__heading {
        background-color: palette('yellow','darkMustard');
      }
      .envServices__figureText {
        span {
          background-color: palette('yellow', 'mustard');
        }
      }
    }
    &--item2 {
      border-bottom: 10px solid palette('green','sage');
      .envServices__heading {
        background-color: palette('green','sage');
      }
      .envServices__figureText {
        span {
          background-color: palette('green', 'cadetblue');
        }
      }
    }
    &--item3 {
      border-bottom: 10px solid palette('red','wine');
      .envServices__heading {
        background-color: palette('red','wine');
      }
      .envServices__figureText {
        span {
          background-color: palette('red', 'lightWine');
        }
      }
    }
  }
  &__heading {
    padding: 20px;
    color: white;
    font-family: fontStack(default);
    font-weight: 700;
    text-align: center;
    font-size: toRem(32px);
    line-height: 1.2em;
    border-bottom-right-radius: 50px;
  }
  &__block {
    padding: 20px var(--gutter);
    font-size: toRem(18px);
    border-bottom: 1px solid white;
  }
  &__wysiwyg {
    margin: 20px 0;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    line-height: 1.2em;
  }
  &__centerText {
    text-align: center;
    margin: 20px 0;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    line-height: 1.2em;
  }
  &__figureText {
    text-align: center;
    margin: 20px 0;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    sup {
      font-size: .6em;
      margin-right: 3px;
    }
    span {
      padding: 13px 30px;
      border-radius: 40px;
      color: white;
      display: inline-block;
      font-family: fontStack(default);
      font-weight: 700;
      font-size: toRem(32px);
    }
  }

  &__buttonGroup {
    margin-top: 14px;
  }

  &__centerContainer {
    @extend %container;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
  }

  @media (max-width: 1055px){
    &__flex {
      flex-direction: column;
      width: 100%;
      max-width: 500px;
    }
  }
}