@use 'baseline' as *;
@use 'placeholders' as *;

.filterNav {
    @extend %container;
    display: flex;
    margin-top: 60px;

    &__info {
        max-width: 395px;

        @media (min-width: 1300px) {
            margin-right: 100px;
        }
    }

    &__heading {
        @extend %mediumHeading;
        color: palette('green', 'sage');
        font-weight: bold;
    }

    &__listContainer {
        display: flex;
        flex-direction: column;
    }

    &__listHeading {
        font-size: toEm(14px);
        margin-bottom: 10px;
        line-height: 1;
        margin-top: 40px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 27px;
    }

    &__listItem {
        color: white;
        background-color: palette('red', 'crimson');
        border-radius: 24px;
        padding: 14px 27px;
        line-height: 1;
        border: 2px solid palette('red', 'crimson');
        
    }

    &__sortButtonContainer {
      border-bottom: 3px solid transparent;

      &.active {
        border-bottom: 3px solid palette('red', 'crimson');
      }

    }

    &__sortButton {
      // color: palette('red', 'crimson');
      color: palette('grey', 'iron');
      background: transparent;
      border: transparent;
      font-weight: 500;

      &.active {
        color: palette('red', 'crimson');
      }
    }

    &--tailgate {
      flex-direction: column;

      @media (min-width: 1285px) {
        flex-direction: row;
      }
    }
}
  
  @keyframes hide {
    0%{
      transform: scale(1);        
    }
    100% {
      transform: scale(0);        
      width: 0;
      height: 0;
      margin: 0;
    }
  }
  @keyframes show {
    0%{
      transform: scale(0);     
      width: 0;
      height: 0;
      margin: 0;   
    }
    100% {
      transform: scale(1);    
    }
  }

  .selected {
    background-color: white;
    color: palette('red', 'crimson');
  }

  .top {
    order: -1;  
  }  
