@use 'baseline' as *;
@use 'placeholders' as *;

.footer {

    background-image: url('/images/soil-texture-white-tiled-vertically.png');
    background-repeat: repeat;
    background-color: palette('black', 'dark');

    &__top-section {
        // background: url(/images/newsletter-background.jpg);
        background: linear-gradient(90deg, white 2%, white 34%, rgba(217, 171, 98, 0) 20%),url(/images/newsletter-background.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &-container {
        @extend %container;
    }

    &__newsletter-section-cta {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    &__newsletter-section-cta-heading {
        @extend %smallHeading;

        background-color: white;
        padding: 50px 0;
        border-radius: 0 80px 80px 0;
        width: 607px;
        display: flex;
        align-items: center;


        img {
            width: 55px;
            margin-right: 38px;
        }

        h3 {
            width: 342px;
            margin: 0;
        }
    }

    &__newsletter-section-inputs {

        input {
            border-radius: 24px;
            border: transparent;
            margin-right: 15px; 
        }
    }

    &-form {
        display: flex;
        color: white;
    }

    &-form__logo {
        flex: 1 1 21%;
        display: flex;
        align-items: flex-start;
        margin-top: 120px;
        img {
            max-width: 130px;
        }
    }

    &-form__location-container {
        display: flex;
        align-items: flex-start;
        line-height: 1.6;
        font-size: toEm(14px);
        flex: 1 1 23%;
        margin-top: 120px;
    }

    &-form__location-icon {
        width: 35px;
        margin-right: 25px;
    }

    &-form__address-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;

        a {
            color: white;
        }
    }
}

.contact {
    border-left: 2px solid palette('grey');
    padding-left: 50px;
    margin-top: 60px;
    margin-bottom: 30px;
    flex: 1 1 56%;

    .form__row {
        margin-top: 40px;
    }

    &__heading {
        @extend %mediumHeading;
        font-weight: bold;
        margin: 0;
        line-height: 1;
    }

    &__required {
        margin: 0;
        font-size: toEm(14px);
    }
    
}

.contact-form {

    &__input {
        border: transparent;
    }

    &__input-label {
        font-size: toEm(14px);
        //using !important to override Freeform inline styles
        font-weight: 300 !important;
        margin-bottom: 5px;
        margin-left: 5px;

    }

    &__textarea-label {
        border-radius: 24px;
        //using !important to override Freeform inline styles
        font-weight: 300 !important;
        margin-bottom: 5px;
        margin-left: 5px;
    }

    &__textarea {
        border-radius: 24px;
        padding: 10px;
        border: transparent;
    }
}

.footer-details {
    display: flex;
    color: palette('grey', 'footerLinks');
    font-size: toEm(14px);
    padding-bottom: 35px;
    
    p {
        margin: 0;
    }

    a {
        color: palette('grey', 'footerLinks');
        font-size: toEm(14px);
    }

    &__container {
        @extend %container;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        p {
            flex: 1 1 48%;
        }
        @media (max-width: 650px){
            flex-direction: column;
            gap: 20px;
        }
    }

    &__right {
        display: flex;
        justify-content: flex-start;
        flex: 1 1 52%;

        & a:first-of-type {
            margin-right: 45px;
        }

    }

}

@media (max-width: 1260px){
    .footer {
        &__newsletter-section-cta {
            display: block;
        }

        &__top-section {
            padding-bottom: 30px;
            background: url(/images/newsletter-background.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &__newsletter-section-cta-heading {
            width: 100%;
            border-radius: 0;
            padding-left: var(--gutter);
            padding-right: var(--gutter);
            border-bottom-right-radius: 30px;
            border-bottom-left-radius: 30px;
            align-items: flex-start;
        }

        &-container {
            &--newsletter {
                padding-left: 0;
                padding-right: 0;
            }
            .form__newsletter {
                margin-top: 40px;
                padding-left: 0;
                .form {
                    padding-left: var(--gutter);
                    padding-right: var(--gutter);
                    width: 100%;
                    max-width: 840px;
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .footer {
        &__newsletter-section-cta-heading {
            padding-top: 24px;
            padding-bottom: 24px;
            flex-direction: column;
            text-align: center;

            img {
                margin: 0 auto 18px;
            }
            h3 {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1040px){
    .footer {
        .footer-form {
            padding-top: 40px;
            padding-bottom: 40px;
            flex-direction: column;
            &__logo {
                margin-top: 0;
                margin-bottom: 30px;
            }
            &__location-container {
                margin-top: 0;
            }
        }
        .contact {
            border-top: 2px solid palette('grey');
            border-left: 0;
            margin-left: 0;
            padding-left: 0;
            padding-top: 30px;
            margin-top: 30px;
        }
    }
}