/* -------------------------------------------------------------------------- *
 * Form Styles *
 * -------------------------------------------------------------------------- */

@use 'baseline' as *;
@use 'placeholders' as *;

.form {
 //padding-left: 3em;

  &__alert {
    align-items: baseline;
    display: flex;
    margin-bottom: 2em;
  }

  &__alertIcon {
    margin-right: 8px;
    position: relative;
    top: 6px;
  }

  &__alertMessage {
    color: white;
    font-size: 1.3rem;
    line-height: 1.2;
    margin: 0;
  }

  &__title {
    color: palette('yellow', 'gold');
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  &__label,
  &__info {
    display: block;
    font-size: toRem(16px);
  }

  &__label {
    color: white;
    font-size: toRem(16px);
    margin-bottom: 5px;

    &--bool {
      display: flex;
      line-height: 1.5em;
      margin: 0;
    }

    &--animate {
      color: palette('black');
      position: absolute;
      left: 14px;
      top: 7px;
      z-index: 10;
      transition: all 150ms ease-out;
    }
  }

  &__field {
    //margin-bottom: 1rem;
    position:relative;
    width: 100%;

    .input-group-one-line {
      display: flex;
      gap: 20px;

      label {
        display: flex;
        line-height: 1.4em;
        input {
          width: unset;
          position: relative;
          top: 4px;
          margin-right: 10px;
        }
      }
      @media (max-width: 630px){
        flex-direction: column;
        gap: 10px;
      }
    }

    & + .form__field {
      margin-top: 30px;
    }

    .button {
      margin: 0;
    }

    &.is-focused {
      .form__label {
        color: white;
        font-size: .85em;
        transform: translateY(-140%);
      }
    }
  }

  &__input,
  &__select,
  &__textarea {
    background-color: #F7F7F7;
    border: 0;
    border-radius: 24px;
    border: transparent;
    color: palette('black');
    display: block;
    padding: 8px 14px 4px;
    transition : border 100ms ease;
    position: relative;

    &:focus {
      border-color: palette('yellow', 'gold');
      border-width: 2px;
      outline: 0;
    }

    &.has-error {
      border-color: palette('black');
    }
  }

  &__input {
    width: 100%;
  }

  &__textarea {
    height: 150px;
    width: 100%;
  }

  &__bool {
    height: 20px;
    margin: 10px 10px 10px 0;
    position: relative;
    top: 4px;
    width: 20px;
  }

  &__errors {
    color: #f5433b;
    font-size: toRem(14px);
    letter-spacing: 0.04em;
    padding-left: 20px;
    line-height: 20px;
  }

  &__btn {
    margin-top: 1em;
  }

  &__row {
    display: flex;
    margin: 30px 0 44px;
    gap: 20px;
  }

  &__col {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    &:first-child { margin-left: 0; }

    @media (max-width: toEm(700px)) {
      margin: 1rem 0;
      width: 100%;
    }
  }

  &__checkbox {
    top: 5px;
    position: relative;
    margin-right: 10px;
  }

  &__newsletter {
    padding-left: 3em;
    .form__errors {
      color: #ffffff;
      position: absolute;
      bottom: -30px;
    }
    .form__row {
      margin: 1rem 0;
    }
    @media (max-width: 750px) {
      .form__row {
        display: block;
        margin: 0;
      }
      .form__field {
        width: 100%;
      }
      .form__col {
        margin: 30px 0;
      }
      .form__errors {
        position: relative;
        bottom: 0;
      }
    }
  }

  @media (max-width: 700px){
    &__row {
      flex-direction: column;
    }
    &__col {
      margin: 10px 0;
    }
  }
}