
@use 'baseline' as *;
@use 'placeholders' as *;

.freeform {
  &-input {
    padding: 10px 20px;
  }
  &-label {
    margin-bottom: 10px;
  }
  select {
    border: 1px solid palette('grey') !important;
  }
  @media (max-width: 1000px){
    &-row {
      flex-direction: column;
    }
    &-spacer {
      display: none;
    }
  }
}
.ff-form-errors, .freeform-form-has-errors {
  padding: 0 !important;
  border: none !important;
  background: transparent !important;;
  border-radius: 0 !important;;
  color: #B72126 !important;
  font-weight: 700;
  display: flex;
  &:before {
    content: url('/images/form-alert.svg');
    margin-right: 10px;
  }
}