@use 'baseline' as *;
@use 'placeholders' as *;

.homepage-header {

    &__background-image {
        background-image: url('/images/dots.png'), url('/images/header-homepage.jpg');
        background-position: top right, top center;
        background-size: auto, cover;
        background-repeat: no-repeat;
    }

    &__container {
        @extend %container;
    }

    &__title {
        @extend %largeHeroHeading;
        color: white;
        background-repeat: no-repeat;
        background-position: left;
        padding-left: 42px;
        background-size: contain;
        
        @media (max-width: 800px) {
            font-size: toEm(48px);
        }
        
        @media (min-width: 1300px) {
            background-size: 19px;
            
        }

    }

    &__copy {
        @extend %paragraphText;
        margin-bottom: 28px;
    }
    
    &__content {
        color: white;
        padding-top: 260px;
        padding-bottom: 70px;
        
        @media (min-width: 800px) {
            padding-left: 200px;
            
        }
        
        @media (min-width: 1300px) {
            width: 50%;

        }
    }

    &__button {
        // font-weight: 400;
        // padding-right: 50px;
        // width: auto;
        transition: .3s;

        &:hover {
            &::after {
                content: '';
                background-image: url(/images/button-arrow-hover.svg);
                width: 9px;
                opacity: 1;
                padding-right: 40px;

            }
        }


    }
}

.tagline {
    background-color: palette('green', 'sage');
    @extend %mediumHeading;

    &__container {
        @extend %container; 
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 38px;

        @media (min-width: 800px) {
            flex-direction: row;
            padding-bottom: 0;
        }
    }

    &__animation-container {
        width: 250px;
        padding: 100px 0;
        
        @media (min-width: 800px) {
            margin-right: 100px;

        }
    }

    &__copy {
        text-align: center;
        line-height: 1.3;

        @media (min-width: 800px) {
            max-width: 40%;
            text-align: left;    
        }

    }

    
    .text--gold {
        color: palette('yellow', 'gold');
    }
}

.homepageStats {
    background: linear-gradient(#dfe0e1cc 0%, #dfe0e1cc 100% ), url(/images/stripes.jpg);
    background-size: contain;
    padding-top: 60px;

    &__container {
        @extend %container;
        display: flex;
        padding-bottom: 190px;
        flex-direction: column;

        @media (min-width: 800px) {
            flex-direction: row;
        }
    }

    &__infographics {
        
        @media (min-width: 800px) {
            width: 60%;

        }
    }

    &__numbers {
        font-weight: bold;
        line-height: 1.3;
        
        @media (min-width: 800px) {
            padding-left: 85px;

        }

        
    }

    &__numberContainer {
        margin-top: 50px;
        text-align: center;
        line-height: 22px;
    }
    
    &__number {
        color: palette('red', 'wine');
        background: white;
        font-size: 75px;
        font-weight: bold;
        border-radius: 50px;
        padding: 0 35px;
        line-height: 108px;

    }
}

.homepageStat {
    @extend %mediumHeading;
    
    font-weight: bold;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1;
    justify-content: flex-end;
    position: relative;


    &__smallText {
        font-size: 18px;
        font-weight: lighter;
        line-height: 2.1;
    }
    
    &__largeText {
        @extend %mediumHeading;
        font-weight: bold;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        padding-left: 35px;
        padding-right: 35px;
        flex-direction: column;
        align-items: center;
        gap: var(--gutter);
        
        @media (min-width: 800px) {
            align-items: baseline;
            flex-direction: row;
        }
        
        &:last-child {
            border-top: 1px solid white;
            padding-top: 60px;
            margin-top: 60px;
        }
    }

    &__idahoGraphic {
        width: 129px;
    }

    &__globeGraphic {
        width: 160px;
    }

    &__farmGraphic {
        width: 360px;
    }

    &__cowGraphic {
        width: 235px;
    }

    &__manyCows {
        color: white;
        position: absolute;
        top: 19%;
        left: 34%;
    }
}

.farmBackground {
    background-image: url(/images/farm-homepage.png);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -145px;
}


.megaTiles {
    @extend %container;
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
    justify-content: center;

}

.megaTile-container {
    transition: .2s all;

    &:hover {
        .megaTile {
            border-radius: 0 0 300px;
        }

        .button--internalLink {
            background-color: palette('green', 'cadetblue');
            border: 1px solid palette('green', 'cadetblue');
            background-image: url(/images/button-arrow-hover.svg);

            &:after {
                background-color: palette('green', 'cadetblue');
                background-image: url(/images/button-arrow-hover.svg);
                width: 100%;
                border-radius: 50px;
                background-size: 9px;
                background-position-x: right 15px;
                opacity: 0;
              }
        }
    }

    a {
        text-decoration: none;
    }

    &:last-of-type {
        margin-right: 0;
    }
}

.megaTile {
    display: flex;
    flex-direction: column;
    max-width: 606px;
    color: white;
    padding: 17% 16% 8% 7%;
    border-radius: 0 0 88px 0;
    transition: .2s all;
    background-size: cover;

    &:hover {
        border-radius: 0 0 300px 0;

        .button--internalLink {
            background-color: palette('green', 'cadetblue');
            border: 1px solid palette('green', 'cadetblue');
            background-image: url(/images/button-arrow-hover.svg);

            &:after {
                background-color: palette('green', 'cadetblue');
                background-image: url(/images/button-arrow-hover.svg);
                width: 100%;
                border-radius: 50px;
                background-size: 9px;
                background-position-x: right 15px;
                opacity: 0;
              }
        }

        .megaTile__icon--hover {
            display: block;
        }

        .megaTile__icon--inactive {
            display: none;
        }

    }

    &__icon {
        width: 40px;
        height: 55px;
        margin-bottom: 40px;
    }

    &__icon--hover {
        display: none;
    }

    &__heading {
        @extend %mediumHeading;
        font-weight: bold;
        color: white;
        text-decoration: none;
        margin: 0 0 17px 0;
        
        @media (min-width: 610px) {
            height: 110px;
        }
    }

    &__copy {
        @extend %paragraphText;
        margin: 0;
        margin-bottom: 35px;
        
        @media (min-width: 610px) {
            height: 115px;
        }
    }
}

.homepage-worker {
    @extend %container;
    margin-top: 185px;
    
    &__heading {
        @extend %largeHeading;
        text-align: center;
        color: palette('green', 'sage');
        font-weight: bold;
        position: relative;
        line-height: 1;

        &:before {
            content: '';
            background-image: url(/images/grey-vertical.svg);
            height: 94px;
            width: 9px;
            position: absolute;
            transform: rotate(90deg);
            background-size: contain;
            top: -85px;
            background-repeat: no-repeat;
            right: 50%;
        }
    }

    &__intro {
        margin: 0 auto;
        max-width: 815px;
        margin-bottom: 40px;
        text-align: center;
    }

}

.quote-section {
    position: relative;
    
    
    &__background-container {
        &:after {
            content: '';
            background-image: url(/images/quote-background-3.png);
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
        }
    }

    &__container {
        @extend %container;
        display: flex;
        justify-content: center;
        padding: 60px 0;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        margin-bottom: -60px;
        
        @media (min-width: 800px) {
            flex-direction: row;
        }
    }

    &__container--theContent {
        display: flex;
        justify-content: center;
        padding: 130px 0;
        flex-direction: column;
        align-items: center;
        
        @media (min-width: 800px) {
            flex-direction: row;
        }
    }

    &__background-container {
        padding-left: var(--gutter);
        padding-right: var(--gutter);
    }

    &__image {
        align-self: center;
    }

    &__content {
        margin-left: 56px;
        @media(max-width: 800px){
            margin-left: 0;
            padding-top: 20px;
        }
    }

    &__quote {
        color: palette('black', 'dull');
        font-style: italic;
        font-size: toEm(24px);
        max-width: 550px;
        position: relative;
        text-align: left;

        &--hasAuthor {
            &::before {
                content: '';
                background-image: url('/images/quote-marks.svg');
                width: 45px;
                display: inline-block;
                height: 35px;
                background-repeat: no-repeat;
            }
        }
    }
    
    &--quoteMarks{
        &::before {
            content: '';
            background-image: url('/images/quote-marks.svg');
            width: 45px;
            display: inline-block;
            height: 35px;
            background-repeat: no-repeat;
        }
    }


    &__author {
        color: palette('black', 'dark');
        font-weight: bold;

    }

    .text--sage {
        color: palette('green', 'sage');
        font-weight: bold;
    }
}

.mapSection {
    background-color: palette('brown');
    
    &__container {
        @extend %container;
        display: flex;
        justify-content: space-between;
        padding-bottom: 100px;
        margin-bottom: 100px;
        flex-direction: column;
        align-items: center;

        @media (min-width: 1040px) {
            flex-direction: row;
        }
    }

    &__heading {
        @extend %largeHeading;
        display: flex;
        justify-content: center;
        padding-top: 125px;
        padding-bottom: 25px;
        color: palette('tan');
        position: relative;

        &:before {
            content: '';
            background-image: url(/images/yellow-vertical.svg);
            height: 94px;
            width: 9px;
            position: absolute;
            transform: rotate(90deg);
            background-size: contain;
            top: 60px;
            background-repeat: no-repeat;
        }
    }

    &__map {
        width: 340px;
        max-width: 100%;
    }
    
    &__list {
        margin-top: 35px;

        ul {
            padding: 0 22px;
            margin: 0;
        }

        li {
            display: flex;  
            align-items: center;
            color: palette('tan');
            margin: 20px 0;

            span {
                color: white;
                display: block;
            } 

        }

        img {
            width: 25px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 10px;
        }

        p {
            margin: 0;
            line-height: 1.2;
            padding: 2px 0;
        }

        @media (min-width: 1040px) {
            display: flex;
            padding-left: 20px;
            margin-top: 0;

            li {
                span {
                    display: inline;
                }
            }
        }

    }
}
