
@use 'baseline' as *;
@use 'placeholders' as *;

.member {
  padding-bottom: 60px;
  &__container {
    @extend %container;
    display: flex;
    gap: 60px;
  }
  &__intro {
    flex: 1 1 50%;
    border-right: 1px solid palette('grey','iron');
    padding-right: 60px;
  }
  &__heading {
    @extend %mediumHeading;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &__logos {
    flex: 1 1 50%;
    h2 {
      @extend %smallHeading;
      color: palette('green', 'sage');
      font-weight: bold;
      margin-bottom: 30px;
    }
  }
  &__logosList {
    @extend %listReset;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--gutter);
    flex-wrap: wrap;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @media (max-width: 1250px){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 360px){
      grid-template-columns: repeat(1, 1fr);
      gap: 50px;
      li {
        padding: 0 30px;
      }
    }
  }

  &__textOnly {
    margin-top: 40px;
    font-weight: 700;
  }

  @media (max-width: 800px){
    &__container {
      flex-direction: column;

    }
    &__intro {
      padding-right: 0;
      border-right: none;
    }
  }
}