@use 'baseline' as *;
@use 'placeholders' as *;

.membershipTiles {
    @extend %container;
    display: flex;
    gap: 27px;
    // margin-bottom: 60px;

    &__heading {
        @extend %container;
        @extend %mediumHeading;
        font-weight: bold;
        margin-top: 40px;
        margin-bottom: 20px;
    }

}

.membershipIntro {
    max-width: 1030px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.membershipTile {
    width: 33%;
    background: linear-gradient(#dfe0e1cc 0%, #dfe0e1cc 100% ), url(/images/stripes.jpg);
    background-size: cover;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__heading {
        @extend %mediumHeading;
        font-weight: bold;
        color: white;
        text-align: center;
        padding: 15px 0;
        margin: 0;
    }

    &__priceContainer {
        margin: 0;
        border-radius: 0 0 80px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 43px;
        padding-bottom: 38px;

        p {
            // margin: 0;
        }
        
    }

    &__price {
        background: white;
        border-radius: 50px;
        font-size: toEm(62px);
        color: palette('yellow', 'darkMustard');
        font-weight: bold;
        padding: 10px 20px;
        line-height: 1;
        display: flex;
        margin-bottom: 12px;

    }

    &__dollarSign {
        font-size: 35px;
        margin-top: 2px;
        margin-right: 2px;
    }

    &__annual {
        text-transform: uppercase;
        color: white;
        margin: 0;
    }

    &__perks {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 35px;
    }

    &__perkContainer {
        display: flex;
        padding: 0 30px;
        margin-top: 25px;
    }

    &__perk {
        margin: 0;
    }
    
    &__iconContainer {
        max-width: 55px;
        min-width: 55px;
        margin-right: 30px;
    
    }

    &__buttonContainer {
        text-align: center;
        padding: 40px 0;
        margin-top: 35px;
    }

    &__button {
        color: white;
        background-color: palette('red', 'crimson');
        display: inline-block;
        border-radius: 50px;
        padding: 5px 50px 5px 20px;
        line-height: 38px;

        border: 1px solid transparent;
    }

    &--mustard {
        .membershipTile {

            &__heading {
                background-color: palette('yellow', 'darkMustard');
            }

            &__priceContainer, &__buttonContainer {
                background-color: palette('yellow', 'gold');
            }

            &__price {
                color: palette('yellow', 'darkMustard');
            }

            &__perks {
                border-bottom: 20px solid palette('yellow', 'darkMustard');
            }
        }
    }

    &--sage {
        .membershipTile {

            &__heading {
                background-color: palette('green', 'sage');
            }

            &__priceContainer, &__buttonContainer {
                background-color: palette('green', 'cadetblue');
            }

            &__price {
                color: palette('green', 'sage');
            }

            &__perks {
                border-bottom: 20px solid palette('green', 'sage');
            }
        }
    }

    &--red {
        .membershipTile {

            &__heading {
                background-color: palette('red', 'wine');
            }

            &__priceContainer, &__buttonContainer {
                background-color: palette('red', 'lightWine');
            }

            &__price {
                color: palette('red', 'wine');
            }

            &__perks {
                border-bottom: 20px solid palette('red', 'wine');
            }
        }
    }
    
}

.membershipForm {
    margin-top: 20px;
    margin-bottom: 100px;

    &__container {
        @extend %container;
        margin-top: 60px;
    }

    &__headingContainer {
        @extend %container;
    }

    &__heading {
        @extend %mediumHeading;
        font-weight: bold;
    }

    &__detail {
        @extend %smallText;
    }

    &__logoGarden {
        display: flex;
        flex-direction: column;
        width: calc(50% - 130px);
    }
    
    &__logoGardenHeading {
        @extend %smallHeading;
        
        color: palette('green', 'sage');
        font-weight: bold;
        padding-left: 70px;
        margin-bottom: 50px;
    }
    
    &__logos {
        display: flex;
        flex-wrap: wrap;
        padding-left: 70px;
        gap: 50px;
    }

    &__formContainer {
        width: calc(50% + 130px);
        margin: 0 auto;
        h2 {
            @extend %mediumHeading;
            font-weight: bold;
            margin-bottom: 20px;
        }
    }

    &__logoContainer {
        width: 200px;
        text-align: center;
    }

    &__textLogo {
        font-weight: bold;

        p {
            margin: 0;
        }
    }

    &__label {
        @extend %smallText;
        color: palette('black', 'dark');
        // important to override freeform styles
        font-weight: lighter !important;

    }

    &__field {
        border-radius: 24px;
        background-color: palette('grey', 'dove');
        border: 1px solid transparent;
        padding: 2px 10px;
    }

    #form-input-membershipLevel {
        border-radius: 24px;
        padding: 10px 10px;
        width: auto;
        -webkit-appearance: none;
    }
}

