@use 'baseline' as *;
@use 'placeholders' as *;

.mainNav__header {
    background-color: palette('red', 'wine');
}

.mainNavSpacer {
    
    @media (min-width: 1300px) {
        height: 110px;
    }
}

.mainNav {
    
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    
    @media (min-width: 1300px) {
        height: 110px;
        
    }
    
    
    a {
        color: white;
        opacity: 1;
        text-decoration: none;
    }
    
    &__container {
        @extend %container;
        margin-top: 0;
        position: absolute;
        top: 0;
        min-width: 100%;
        z-index: zIndex(top);
        background: linear-gradient(90deg, white 1%, white 12%, #69091fcc 12%);
        
        @media (min-width: 1300px) {
            border-bottom: 1px solid #ffffff50;
            background: linear-gradient(90deg, white 1%, white 12%, #69091fcc 12%);
        }

        @media (min-width: 1894px) {
            background: linear-gradient(90deg, white 19%, white 12%, #69091fcc 12%);
        }

        @media (min-width:2322px) {
            background: linear-gradient(90deg, white 25%, #69091fcc 20%) ;
        }   
    }



    &__logo-container {
        min-width: 200px;
        justify-content: center;
        height: 100%;
        background: white;
        border-top-right-radius: 76px;
        border-bottom-right-radius: 76px;
        align-items: center;

        @media (min-width: 1300px) {
            line-height: 1;

        }
    }

    &__logo {
        width: 113px;
        padding-top: 8px; 

        @media (min-width: 1300px) {
            padding-top: 0;
        }
    }
    
    &__content {
        list-style: none;
        display: flex;
        position: absolute;
        top: 70px;
        padding: 0;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
        margin: 0;
        left: 0;

        &.active {
            background-color: palette('red', 'wine') ;
        }

        @media (min-width: 1300px) {
            background-color: transparent;
            margin: 0 36px 0 47px;
            flex-direction: row;
            position: inherit;
        }
    }

    &__sublink-list {
        display: none;
        list-style: none;
        background-color: #69091fcc;
        min-width: 200px;
        
        @media (min-width: 1300px) {
            position: absolute;
            left: -5%;
            right: -5%;
            border-radius: 0 0 18px 18px;
            padding: 12px 20px 10px 20px;

        }

        .mainNav__toplinkHover {
            color: white;
            border-bottom: 1px solid transparent;
            margin-top: 0;
            transition: .2s all;
            margin-bottom: 10px;
            
            a {
                color: palette('tan');

                @media (min-width: 1300px) {
                    color: white;
                }
            }

            &:hover a {
                border-bottom: 1px solid white;
            }

            .mainNav__underline {
                display: none;
            }

            &.mainNav__sublink-list-item a {
                transition: .2s all;
                margin-bottom: 10px;
                
                a {
                    color: palette('tan');
                }
                
                @media (min-width: 1300px) {
                    margin-bottom: 18px;
                    
                    a {
                        color: white;
                    }
        
                    &:hover a {
                        border-bottom: 1px solid white;
                    }
                }
            }
        }

    }

    &__sublink-list-container {
        display: none;
    }



    &__sublink-list-item {
        transition: .2s all;
        margin-bottom: 10px;
        
        a {
            color: palette('tan');
        }
        
        @media (min-width: 1300px) {
            margin-bottom: 18px;
            
            a {
                color: white;
            }

            &:hover a {
                border-bottom: 1px solid white;
            }
        }
    }

    &__underline {
        height: 5px;
        background-color: transparent;
        border-radius: 76px;
        position: relative;
        left: -5%;
        
        @media (min-width: 1300px) {
            width: 110%;
            
        }

    }


    &__toplinkHover {
        position: relative;
        display: none;
        
        @media (min-width: 1300px) {
            display: block;
            margin-top: 40px;
            
            &:hover {
                .mainNav__sublink-list {
                    display: block;
                    margin-bottom: 43px;
                }

                .mainNav__sublink-list-container {
                    display: block;
                }
    
                .mainNav__underline {
                    background: palette('yellow', 'mustard');
                    margin-bottom: 37px ;
                }
    
            }
        }
    }



    &__sublink-list {
        
        @media (min-width: 1300px) {
            &:hover {
                display: block;
            }
        }
    }

    &__icon-container {
        width: 35px;
        display: none;

        @media (min-width: 1300px) {
            margin-top: 40px;
            display: block;
        }

    }



    &__mobileButton {
        min-width: 57px;
        height: 57px;
        background: palette('red', 'crimson');
        background-image: url(/images/button-menu-mobile.svg);
        border: palette('red', 'crimson');
        border-radius: 10px;
        margin-top: 7px;


        @media (min-width: 1300px) {
            display: none;
        }
    }
}

.mobileNav__icon-container {
    display: none;
}

.mainNav__logo-container {
    display: flex;

    @media (min-width: 1300px) {
        display: flex;
    }
}

.mainNav__logo-container.active {
    display: none;
}

.mobileNav__logo {
    display: none;

    &.active {
        display: block;
    }
}

.active.mainNav {
    flex-direction: column;

    &__content {
        margin: 0;
        padding-bottom: 70px;
        padding-top: 35px;
        border-radius: 0 0 80px 0;
        padding-right: 35px;
        padding-left: 35px;


    }

    .mainNav__mobileButton {
        background-image: url(/images/button-menu-cross-mobile.svg);
    }

    &__container {
        background: palette('red', 'wine');
        opacity: 1;
    }
    
    &__sublink-list {
        display: block;
    }

    
    &__toplinkHover {
        display: block;
        background-color: palette('red', 'wine');
    }


    .mobileNav__buttons {
        width: 100%;

    }

    .mobileNav__logo {
        display: block;
        padding-top: 10px;
    }



    .mobileNav__icon-container {
        display: flex;
        color: white;
        align-items: center;
        border-top: 1px solid palette('tan');
        padding-top: 35px;
        margin-top: 35px;
        
        img {
            margin-right: 13px;
            max-width: 35px;
            min-width: 35px;
        }

        p {
            margin: 0;
        }
    
        @media (min-width: 1300px) {
            display: none;
        }
    }

}

.mobileNav__buttons {
    display: flex;
    justify-content: space-between;
}

.fullWidthLine {
    height: 1px;
    margin-top: 1px;
    background-color: #ffffff50;
}



