@use 'baseline' as *;
@use 'placeholders' as *;

.newsletter-section {
    // background-image: linear-gradient(180deg, #282828 0%, #282828 53%, #282828 100%), url(/images/soil-texture-white-tiled-vertically.png);
    background-color: palette('black', 'dark');
    background-image: url(/images/soil-texture-white-tiled-vertically.png);
    padding-bottom: 100px;

    &--homepage {
        margin-bottom: -60px;
    }

    a {
        color: white;
        text-decoration: none;
    }

    &__container {
        @extend %container;
        color: palette('yellow', 'mustard');
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        @extend %largeHeading;
        padding-top: 104px;
        padding-bottom: 40px;
        position: relative;

        &:before {
            content: '';
            background-image: url(/images/dark-grey-vertical.svg);
            height: 94px;
            width: 9px;
            position: absolute;
            transform: rotate(90deg);
            background-size: contain;
            top: 39px;
            background-repeat: no-repeat;
            right: 50%;
        }
    }

    &--landing {
        padding-top: 80px;
        background-color: palette('green', 'sage');
    }
}

.newsletter-tile {
    display: flex;
    background-color: palette('black', 'dark');
    background-image: url(/images/soil-texture-white-tiled-vertically.png);
    border: 1px solid palette('grey');
    flex-direction: column;
    align-items: center;
    transition: .2s;
    
    @media (min-width: 930px) {
        width: 871px;
        flex-direction: row;
        align-items: flex-start;
    }

    &__date {
        display: none;
        background: url(/images/milk-shape.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 30px;
        width: 145px;
        text-align: center;
        font-size: 14px;
        background-position: bottom;

        &--landing {
            color: palette('green', 'cadetblue');
        }

        @media (min-width: 920px) {
            display: block;
        }
    }

    &__image {
        width: 260px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 36px;
        padding-right: var(--gutter);
        position: relative;
        padding-left: 55px;
    }

    &__heading {
        @extend %smallHeading;
        padding-top: 60px;
    }

    &__text {
        margin-right: 30px;
        margin-bottom: 40px;
     
    }

    &--landing {
        background-color: palette('green', 'sage');
        border: 1px solid white;
    }

    &:hover {
        border-radius: 0 0 80px 0;
    }

    &__background {
        background-color: palette('red', 'crimson');

        &:hover {
            .newsletter-tile {
                border-radius: 0 0 80px 0;
            }

            .button--internalLink {
                background-color: palette('green', 'cadetblue');
                border: 1px solid palette('green', 'cadetblue');
                background-image: url(/images/button-arrow-hover.svg);

                    &:after {
                      background-color: palette('green', 'cadetblue');
                      background-image: url(/images/button-arrow-hover.svg);
                      width: 100%;
                      border-radius: 50px;
                      background-size: 9px;
                      background-position-x: right 15px;
                      opacity: 0;
                    }
            }
        }
    }
}

.newsletterButton {
    display: none;
}

.miniTile--news:hover {

    .newsletterButton {
        display: block;
        position: absolute;
        z-index: 1;
        top: 36%;
    }
}

.news__text {
    @extend %container;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    margin-top: -60px;
}