/* -------------------------------------------------------------------------- *
 * Header Notification Bar *
 * -------------------------------------------------------------------------- */

@use 'baseline' as *;
@use 'placeholders' as *;

.notification {
  background-color: palette('black', 'lighter');
  color: white;
  display: none;
  margin-top: calc(var(--notificationHeight) * -1);
  padding: 10px 0;

  &.is-active {
    display: block;
  }

  &__container {
    align-items: center;
    display: flex;

    @extend %container;
  }

    &__content {
      flex-grow: 1;
      margin-right: var(--gutter);
      text-align: center;

      a {
        color: inherit;
      }
    }
}
