@use 'baseline' as *;
@use 'placeholders' as *;

.socialMedia {
  @extend %listReset;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  li {
    flex: 0 0 50px;
    a {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      margin-right: 0;
      img {
        height: 22px;
        width: 29px;
      }
      &:hover {
        opacity: 0.55;
      }
    }
  }
}