@use 'baseline' as *;
@use 'placeholders' as *;


.tailgateIntro {

    background-color: palette('tan');
    
    &__container {
        @extend %container;
        display: flex;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 70px;
    }

    &__image {
        margin-right: 60px;
        margin-top: 50px;
        margin-bottom: 65px;
        align-self: center;
    }

    &__heading {
        @extend %mediumHeading;
        color: palette('red', 'lightWine');
        font-weight: bold;
        padding: 25px 0 0 0;
        position: relative;

        &:before {
            content: '';
            background-image: url(/images/tan-vertical.svg);
            height: 94px;
            width: 9px;
            position: absolute;
            transform: rotate(90deg);
            background-size: contain;
            top: -55px;
            background-repeat: no-repeat;
            left: 37px;
        }
    }

    h2 {
        @extend %mediumHeading;
        color: palette('red', 'lightWine');
    }

    h3 {
        @extend %smallHeading;
        color: palette('green', 'sage');
    }

    h4 {
        @extend %defaultHeading;
    }

    &__text {
        @extend %paragraphText;

    }

    &__buttons {
        display: flex;
        padding-top: 40px;
    }
    
    &__button-container {
        display: flex;
        margin: 0;
        margin-right: 30px;
    }

    @media (max-width: 820px){
        &__container {
            flex-direction: column;
        }
    }
}
