@use 'baseline' as *;
@use 'placeholders' as *;


.miniTiles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    flex-wrap: wrap;
    gap: 27px;

    &--videoTile {
      width: 100%;
      max-width: 395px;
      position: relative;
      margin: 0 auto;
    }

    &__buttonGroup {
      width: 100%;
      max-width: 200px;
      .button {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    &__heading {
      position: absolute;
      bottom: 0;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      padding: 20px;
    }

    &--theContent {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    &__background {
        background-color: palette('red', 'crimson');

        a {
            text-decoration: none;
        }

        &:hover {
            .miniTile {
                border-radius: 0 0 300px 0;

                .button--internalLink {
                  background-color: palette('green', 'cadetblue');
                  border: 1px solid palette('green', 'cadetblue');
                  background-image: url(/images/button-arrow-hover.svg);
        
                  &:after {
                    background-color: palette('green', 'cadetblue');
                    background-image: url(/images/button-arrow-hover.svg);
                    width: 100%;
                    border-radius: 50px;
                    background-size: 9px;
                    background-position-x: right 15px;
                    opacity: 0;
                  }
                }
            }

            .miniTile--news, .miniTile--tailgate  {
                border-radius: 0 0 80px 0;
            }

            .miniTile__button-container {
              display: block;
            }

            .miniTiles__hoverOverlay {
              height: 100%;
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              left: 0;
              background: palette('green', 'cadetblue');
              z-index: 1;
              opacity: .8;
              border-radius: 0 0 80px 0;

              &--download {
                border-radius: 0 0 300px 0;
              }
            }
        }
    }

    &__background--square {
      max-height: 395px;
    }

    &__background--tailgate {
      position: relative;
    }

    &--square {
        flex-wrap: wrap;
        gap: 27px;
        justify-content: flex-start;
    }

    &--news, &--tailgate {
        @extend %container;
        gap: 27px;
        margin-top: 100px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    &--news {
      .parentHide {
        display: none;
      }
    }

    &--people {
      margin-top: 30px;
      flex-wrap: wrap;
      gap: 27px;
      justify-content: center;
      
      @media (min-width: 1300px) {
        justify-content: flex-start;

      }
      
    }

    &--videoContent {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: var(--gutter);
      max-width: 910px;
      margin-top: 60px;
      margin-bottom: 60px;
      @media (max-width: 1030px){
        grid-template-columns: repeat(1, 1fr);
      }
    }
}

.miniTile {
    display: flex;
    height: 316px;
    align-items: flex-end;
    background-color: gainsboro;
    border-radius: 0 0 80px 0;
    transition: .2s all;
    flex-direction: column;
    position: relative;
    justify-content: flex-end;
    transition: .2s;

    @media (min-width: 640px) {
      width: 606px;
    }
    
    @media (min-width: 800px) {
      flex-direction: row;

    }

    &--download {
      text-decoration: none;

      &:hover {
        .newsletterButton {
          display: block;
          z-index: 1;
        }

        .newsletterButton__container {
          position: absolute;
          right: calc(50% - 100px);
          top: calc(50% - 20px);
          width: 200px;
        }
      }
    }

    
    a {
      text-decoration: none;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: flex-end;
      flex-direction: column;

      @media (min-width: 550px) {
        flex-direction: row;
      }
    }

    a:not(.miniTile__downloadButton, .button) {
      padding: 40px 20px;

      @media (min-width: 500px) {
        padding: 40px 50px;
      }
    }
      
      &:hover {
        border-radius: 0 0 300px 0;

        .button--internalLink {
          background-color: palette('green', 'cadetblue');
          border: 1px solid palette('green', 'cadetblue');
          background-image: url(/images/button-arrow-hover.svg);

          &:after {
            background-color: palette('green', 'cadetblue');
            background-image: url(/images/button-arrow-hover.svg);
            width: 100%;
            border-radius: 50px;
            background-size: 9px;
            background-position-x: right 15px;
            opacity: 0;
          }
        }
    }

    &__date-container {
        position: relative;
        position: relative;
        height: 38px;
        background-color: palette('green', 'cadetblue');
    }

    &__date {
        position: absolute;
        color: palette('green', 'cadetblue');
        top: 0;
        background-image: url(/images/milk-shape.svg);
        position: absolute;
        background-repeat: no-repeat;
        font-size: 14px;
        margin: 0;
        background-size: contain;
        width: 160px;
        text-align: center;
        height: 35px;
        padding-top: 5px;
        left: 2px;
    }

    &__heading {
        @extend %mediumHeading;
        margin-bottom: 20px;
        color: white;
        font-weight: bold;
        text-decoration: none;
        width: 100%;
        max-width: 295px;
        
        @media (min-width: 800px) {
          max-width: 315px;

          &--download {
            width: auto;
          }
        }
        
    }

    &--square, &--people {
      padding: 20px;
      height: 395px;
      max-width: 395px;
      background-position: center;
      flex-direction: row;
    }

    &--people {
      width: 100%;
    }

    &--square {
      justify-content: flex-start;
    }

    &--videoTile {
      align-items: center;
      justify-content: center;
    }

    &--relatedEntries {
      width: 288px;
      height: 288px;
      padding: 20px;
    }

    &--tailgate {
      height: 380px;

      &:hover {
        border-radius: 0 0 80px 0;

      }
    }

    &--news, &--tailgate {
        background-repeat: no-repeat;
        width: 286px;
        border-radius: 0;
        background-color: palette('green', 'sage');


      &:hover {
          border-radius: 0 0 80px 0;
      }
    }

    &--news {
      justify-content: center;
      padding: 20px;
      height: 380px;
    }

    &__button-container {
      display: none;
    }

    &__downloadButton {
      color: white;
      background: linear-gradient(90deg, rgba(183,33,38,1) 70%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
      border-radius: 50px;
      // padding: 15px 40px 15px 20px;
      border: 1px solid palette('red', 'crimson');
      position: relative;
      // transition: .2s all;
      z-index: zIndex(top);
      

      &:after {
        content: '';
        // background-image: url(/images/button-download.svg);
        width: 15px;
        height: 20px;
        position: absolute;
        right: 20px;
        top: 20px;
        background-repeat: no-repeat;
        transition: width .3s ease-in, border-radius .3s ease-in, opacity .4s;
        background-position-x: right 20px;
        background-size: 15px;
      }

      &:hover {
        background: palette('green', 'cadetblue');
        border: 1px solid palette('green', 'cadetblue');
        // background-image: url(/images/button-download-hover.svg);
        // background-repeat: no-repeat;
        // background-position: center;
        

        &:after {
          // background-image: url(/images/button-download-hover.svg);
          background-color: palette('green', 'cadetblue');
          // width: 100%;
          border-radius: 50px;
          background-size: 9px;
          background-position-x: right 15px;
          opacity: 0;

        }
      }

      &:last-child {
        margin-top: 20px;
      }
    }

    &__downloadButtonLabel {
      width: 100px;
    }

    &--tailgate {
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        .miniTile__button-container {
          display: block;
        }
      }
      @media (max-width: 1180px){
        .miniTile__button-container {
          display: block;
        }
      }
    }

    &--people {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }

    &__nameContainer {
      position: relative;

      svg {
        position: absolute;
        height: 100%;
      }
    }

    &__name {
      @extend %mediumHeading;
      font-weight: bold;
      color: white;
      word-spacing: 100vw;
      // margin-bottom: 10px;
      position: relative;
      padding-left: 20px;
      margin: 0;
    }

    &__position {
      color: white;
      font-size: toEm(14px);
      line-height: 0;
      margin: 0;
      margin-top: 20px;
      margin-bottom: 4px;
    }

    &__bioButton {
      margin-top: 20px;
      border: 1px solid white;
      border-radius: 50px;
      padding: 10px 50px 10px 20px;
      line-height: 1;
      color: white;
      background-color: transparent;
      width: 140px;
    }

    &__doctypeContainer {
      background-color: palette('green', 'cadetblue');
      height: 37px;
      border-top: 1px solid lighten(palette('green', 'cadetblue'), 40%);
    }
    
    &__doctype {
      background-image: url(/images/milk-shape.svg);
      background-repeat: no-repeat;
      color: palette('green', 'cadetblue');
      width: 183px;
      font-size: toEm(14px);
      height: 100%;
      text-align: center;
      padding-right: 10px;
      padding-top: 5px;
    }
}


.iconTiles {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: flex-start;
  
    &__section {
      background: linear-gradient(#dfe0e1cc 0%, #dfe0e1cc 100% ), url(/images/stripes.jpg);
      background-size: contain;
      position: relative;
      overflow: hidden;
    }
  
    &__container {
      @extend %container;
      &--member {
        padding-bottom: 50px;
      }
    }

    &__memberHeading {
      text-align: center;
      background-color: palette('green','sage');
      padding: 14px 0;
      margin-bottom: 50px;
    }

    &__mainHeading {
      font-weight: 700;
      color: #fff;
      font-size: toRem(32px);
      line-height: 1.3em;
    }

    &__heading {
      @extend %mediumHeading;
      max-width: 690px;
      font-weight: bold;
      margin: 0 auto;
      padding-top: 100px;
      padding-bottom: 50px;
      text-align: center;
      color: palette('red', 'wine');

      &:before {
          content: "";
          background-image: url(/images/med-grey-vertical.svg);
          height: 94px;
          width: 9px;
          position: absolute;
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
          background-size: contain;
          top: 23px;
          background-repeat: no-repeat;
          right: 50%;

      }
    }

    &__footer {
      background-color: palette('green','sage');
      padding: 40px 0;
      border-bottom-right-radius: 100px;
      margin-bottom: 40px;
    }
      &__footerContainer {
        @extend %container;
        display: flex;
        align-items: center;
        color: white;
        gap: 80px;
      }
      &__figure {
        flex: 0 0 280px;
        text-align: center;
      }
      &__text {
        flex: 1 1 100%;
      }

      @media (max-width: 850px){
        &__footerContainer {
          flex-direction: column;
          gap: 0;
        }
        &__figure {
          flex: 0 0 160px;
          text-align: center;
        }
      }

      &__figureText {
        text-align: center;
        margin: 0 0 20px;
        sup {
          font-size: .6em;
          margin-right: 3px;
        }
        span {
          padding: 0 30px;
          border-radius: 60px;
          color: white;
          display: inline-block;
          font-family: fontStack(default);
          font-weight: 700;
          font-size: toRem(62px);
          background-color: palette('green','cadetblue');
        }
      }
  }
  
  
.iconTile {
  width: 100%;
  max-width: 340px;

  &__icon-container {
    width: 55px;
    height: 60px;
    display: flex;
    position: relative;
  }

    .iconTile__decorativeLine {

      height: 1px;
      margin-left: calc((100vw - 100%) / -2);
      width: 100vw;
      margin-top: -5px;

      @media (min-width: 860px) {
        background-color: white;
      }
    }

  &__icon {
    align-self: center;
    max-height: 100%;
    position: absolute;
    z-index: 1;
  }

  &__heading {
    @extend %smallHeading;
    margin-top: 20px;
    margin-bottom: 16px;
  }

}

