/* -------------------------------------------------------------------------- *
 * WYSIWYG Editor Styles *
 * -------------------------------------------------------------------------- *
 * Styles for the markup being output by the Redactor WYSIWYG plugin. As we
 * don't have full control over this markup, the selectors here do not follow
 * the BEM naming conventions.
 */

@use 'baseline' as *;
@use 'placeholders' as *;

.wysiwyg {
  margin: 1rem 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  h2 {
    @extend %mediumHeading;
    color: palette('red', 'lightWine');
  }

  h3 {
    @extend %smallHeading;
    color: palette('green', 'sage');
  }

  h4 {
    @extend %defaultHeading;
  }

  h5 {
    @extend %smallHeading;
  }

  h6 {
    font-weight: bold;
  }

  ul {
    margin-bottom: 30px;
  }

  table {
    border: 1px solid palette('black', 'lightest');
    margin: 1rem 0;

    thead {
      background-color: palette('black', 'lightest');
      color: #fff;
    }

    tbody {
      background-color: white;
    }

      tr {
        border: 1px solid palette('black', 'lightest');
      }

        th {
          padding: 10px 20px;
        }

        td {
          border: 1px solid palette('black', 'lightest');
          padding: 10px 20px;
        }
  }

  figure {
    margin: 0 0 2rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &[style*='float:left'] {
      margin-left: 0 !important;
      margin-right: var(--gutter) !important;
    }

    &[style*='float:right'] {
      margin-left: var(--gutter) !important;
      margin-right: 0 !important;
    }

    &[style*='float'] {
      max-width: calc(50% - var(--gutter)) !important;
      margin-bottom: 2rem !important;

      @media (max-width: toEm(700px)) {
        float: none !important;
        margin: 2rem 0 !important;
        max-width: 100% !important;
      }
    }

    figcaption {
      font-size: toRem(14px);
    }
  }
}
